$isv-default-bg-color: #f5f5f5;
$isv-blue: #2363a3;

$isv-btn-primary-color: #2363a3;
$isv-btn-secondary-color: #0a3654;
$isv-btn-primary-font-color: #fff;
$isv-btn-secondary-font-color: #fff;

$isv-dropdown-menu-font-color: #fff;
$isv-dropdown-menu-color: #2363a3;
$isv-dropdown-menu-hover-color: #2362a2;

$isv-nav-tab-font-color: #fff;
$isv-nav-tab-color: #337ab7;

$isv-navbar-collapse-color: #0e5a8e;
$isv-navbar-hover-color: #092a41;
$isv-navbar-color: #0c4a75;
$isv-navbar-font-color: #f3f3f3;
$isv-navbar-font-hover-color: #fff;
