<div class="isv-admin-catalog-batch">
  <div class="row pt-1">
    <div class="isv-admin-catalog-batch__title col-12">
      <h3 class="h3-responsive w-75 float-left pt-0">
        Add A New Catalog
      </h3>
    </div>
  </div>
  <hr class="mb-4 mt-3"/>
  <form *ngIf="catalogForm" [formGroup]="catalogForm" novalidate (ngSubmit)="onSave(catalogForm.value, catalogForm.valid)" class="p-2">
    <div class="isv-admin-catalog-batch__input row px-4">
      <div class="col-12 col-md-6">
        <div class="md-form">
          <input mdbActive type="text" id="label" formControlName="label" class="form-control" mdbInputValidate>
          <label for="label">Catalog Name<!--{{ 'CATALOG.FORM.LABEL' | translate }}--> <span class="text-danger">*</span></label>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="md-form">
          <input mdbActive type="text" id="key" formControlName="key" class="form-control" mdbInputValidate>
          <label for="key">Catalog {{ 'CATALOG.FORM.KEY' | translate }} <span class="text-danger">*</span></label>
        </div>
      </div>
    </div>
    <div class="row px-4">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <!-- Dynamic Inputs -->
    <div class="isv-admin-catalog-batch__result row no-gutters px-2">
      <div class="isv-admin-catalog-batch__actions col-12 py-2 text-right">
        <button (click)="addColumn()" type="button" class="btn btn-md blue darken-1 waves-effect waves-light">
          <i class="fa fa-plus" aria-hidden="true"></i> Add A Column
        </button>
      </div>
      <div class="isv-admin-catalog-batch__result-table col-12">
        <table class="table table-striped table-hover table-sm mb-0 px-2">
          <thead class="grey darken-3">
          <tr>
            <th *ngFor="let control of columns.controls; let i = index">
              <div class="catalog-input form-sm md-form input-group mb-0 pl-2">
                <input mdbActive type="text" class="form-control white-text" id="column" [formControl]="control" placeholder="Column Name" mdbInputValidate/>
                <span class="py-2" id="basic-addon">
                  <i (click)="deleteColumn(i)" aria-hidden="true" class="fa fa-times isv-btn-catalog-list red-text" mdbTooltip="Delete Column" placement="right"></i>
                </span>
              </div>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of rows.controls; let i = index" scope="row">
            <td *ngFor="let control of row.controls; let j = index">
              <div class="catalog-input form-sm md-form mb-0 pl-2">
                <input mdbActive type="text" class="form-control" id="row" [formControl]="control" placeholder="Row Value" mdbInputValidate/>
              </div>
            </td>
            <td>
              <button (click)="deleteRow(i)" type="button" class="btn btn-sm isv-btn-catalog-list btn-red waves-light my-0" mdbRippleRadius mdbTooltip="Delete Row" placement="left">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12 text-center mt-2">
        <button (click)="addRow()" type="button" class="btn btn-md blue darken-1 waves-effect waves-light"><i class="fa fa-plus pr-1" aria-hidden="true"></i> Add An Item/Entry <!--{{ 'CATALOG.FORM.ADD_ROW' | translate }}--></button>
      </div>
    </div>

    <div class="isv-admin-catalog-batch__actions row mt-3 d-flex">
      <div class="col-6 align-self-center">
        <button routerLink="../" class="btn btn-outline-blue-grey" type="button">{{ 'GENERIC_FORM.BTN.CANCEL' | translate }}</button>
      </div>
      <div class="col-6 text-right align-self-center">
        <button [disabled]="catalogForm.invalid" type="submit" class="btn light-green darken-2 waves-effect waves-light">Add <!--{{ 'GENERIC_FORM.BTN.SUBMIT' | translate }}--></button>
      </div>
    </div>
  </form>
</div>

<div [ngBusy]="catalogSaveSubs"></div>
