<div class="popover" ng-controller="ModelAddCommentPopupCrtl" click-anywhere="$hide()" ignore="toggle-comment">
    <div class="arrow"></div>
    <div class="popover-header">
        <span class="title">{{title && (title | translate) || ('GENERAL.TITLE.COMMENTS' | translate)}}</span>

        <div class="actions">
            <a ng-click="$hide()" ng-show="!newTask.loading">
                {{'GENERAL.ACTION.CLOSE' | translate}}</a>
        </div>
    </div>

    <div class="popover-wrapper">
    	<div class="clearfix">
	        <div class="form-group">
	            <textarea rows="2" class="form-control" auto-focus placeholder="{{'GENERAL.MESSAGE.ADD-COMMENT-PLACEHOLDER' | translate}}" ng-model="popup.message" ng-disabled="!model.app.latestVersion && !model.form.latestVersion && !model.process.latestVersion && !model.decisionTable.latestVersion && !model.dataModel.latestVersion"></textarea>
	        </div>
	        <div class="btn-group pull-right">
	        	<button type="button" class="btn btn-xs btn-default" ng-click="ok()" ng-disabled="(!model.app.latestVersion && !model.form.latestVersion && !model.process.latestVersion && !model.decisionTable.latestVersion && !model.dataModel.latestVersion) || popup.loading || !popup.message || popup.message.length > 4000 || readOnly">
           			{{'PROCESS.ACTION.ADD-COMMENT-CONFIRM' | translate}}
           		</button>
			</div>
		</div>
        <div class="comments">
			<div class="comment" ng-repeat="comment in model.comments.data">
				<div class="date" title="{{comment.date | dateformat:'LLLL'}}">{{comment.date | dateformat}}</div>
				<div class="author">{{comment.userFullname}}</div>
				<p>{{comment.message}}</p>
			</div>
		</div>
    </div>
</div>