<div class="modal" ng-controller="AccountPasswordChangePopupCrtl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<h2>{{'ACCOUNT.POPUP.CHANGE-PASSWORD.TITLE' | translate}}</h2>
            </div>
            <div class="modal-body">
            	<div class="form-group">
            	    <label for="oldPassword" class="control-label" translate="ACCOUNT.POPUP.CHANGE-PASSWORD.OLD-PASSWORD"></label>
            	    <input ng-disabled="model.loading" type="password" class="form-control" id="oldPassword" ng-model="model.oldPassword"
            	    	placeholder="{{'ACCOUNT.POPUP.CHANGE-PASSWORD.OLD-PASSWORD-PLACEHOLDER' | translate}}">
            	</div>
            	<div class="form-group">
            	    <label for="newPassword" class="control-label" translate="ACCOUNT.POPUP.CHANGE-PASSWORD.NEW-PASSWORD"></label>
                    <div>
            	        <input ng-disabled="model.loading" type="password" class="form-control" id="newPassword" ng-model="model.newPassword"
            	    	    placeholder="{{'ACCOUNT.POPUP.CHANGE-PASSWORD.NEW-PASSWORD-PLACEHOLDER' | translate}}">
                    </div>
            	</div>
                <div class="form-group">
                    <label for="newPasswordRepeat" class="control-label" translate="ACCOUNT.POPUP.CHANGE-PASSWORD.NEW-PASSWORD-REPEAT"></label>
                    <input ng-disabled="model.loading" type="password" class="form-control" id="newPasswordRepeat" ng-model="model.newPasswordRepeat"
                           placeholder="{{'ACCOUNT.POPUP.CHANGE-PASSWORD.NEW-PASSWORD-PLACEHOLDER' | translate}}">
                </div>
            
                <div class="alert error" ng-show="!model.loading && model.newPassword && model.newPasswordRepeat && passwordsNotMatching()">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span>{{'ACCOUNT.POPUP.CHANGE-PASSWORD.PASSWORDS-NOT-EQUAL' | translate}}</span>
                </div>
            	
            	<div class="alert error" ng-if="model.errorMessage" ng-show="model.errorMessage && !model.loading">
                	<i class="glyphicon glyphicon-remove"></i>
                    <span>{{model.errorMessage | translate}}</span>
                </div>
            </div>
            
            <div class="modal-footer">
            	<div class="pull-right">
            		<button type="button" class="btn btn-sm btn-default" ng-click="cancel()" ng-disabled="model.loading">
            			{{'GENERAL.ACTION.CANCEL' | translate}}
            		</button>
            		<button type="button" class="btn btn-sm btn-default" ng-click="ok()" ng-disabled="model.loading || !model.oldPassword || !model.newPassword || !model.newPasswordRepeat || passwordsNotMatching()">
            			{{'ACCOUNT.POPUP.CHANGE-PASSWORD.CONFIRM' | translate}}
            		</button>
            	</div>
            	<div class="loading pull-right" ng-show="model.loading">
            		<div class="l1"></div><div class="l2"></div><div class="l2"></div>
            	</div>
            </div>
        </div>
    </div>
</div>