.isv-brand__label {
  padding-left: 0;

  .isv-brand__headlabel {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .2rem;
  }
  .isv-brand__sublabel {
    font-size: .8rem;
  }
}
.isv-login {
  height: 100vh;
  overflow: auto;
}

