<div class="isv-login container-fluid blue darken py-4">
  <div class="row pt-4 mt-4">
    <div class="col"></div>
    <div class="col-12 col-sm-8 col-lg-6">
      <!--Logo Image Text-->
      <div class="row">
        <div class="col"></div>
        <div class="col-10 col-md-6">
          <div class="isv-brand row pb-4">
            <div class="isv-brand__img col-4">
              <img src="http://via.placeholder.com/150x150" class="img-fluid" alt="Site Name">
            </div>
            <div class="isv-brand__label col-8 pt-1">
              <p class="isv-brand__headlabel" style="font-size: 1.2rem; font-weight: bold; margin-bottom: .2rem;">Trade.net Agency</p>
              <p class="isv-brand__sublabel" style="font-size: .8rem;">Lorem Ipsum Dolor sit Amet</p>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>

      <!--Logo Image-->
      <!--
      <div class="isv-brand row pb-4">
        <div class="isv-brand__img col-12 text-center">
          <img src="http://via.placeholder.com/400x150" class="img-fluid" alt="Site Name">
        </div>
      </div>
      -->
      <div class="isv-login-form row p-4">
        <div class="col"></div>
        <div class="col-12 col-md-8 card rgba-grey-slight p-4">
          <form>
            <p class="h3 text-center mb-4">Register</p>

            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input mdbActive type="text" class="form-control" id="form7" name="firstname" mdbInputValidate>
              <label for="form7">First Name</label>
            </div>

            <div class="md-form">
              <i class="fa fa-profile prefix grey-text"></i>
              <input mdbActive type="text" class="form-control" id="form8" name="lastname" mdbInputValidate>
              <label for="form8">Last Name</label>
            </div>

            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input mdbActive type="email" class="form-control" id="form9" name="email" mdbInputValidate>
              <label for="form9">Your email</label>
            </div>

            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input mdbActive type="password" class="form-control" id="form10" name="password">
              <label for="form10">Your password</label>
            </div>

            <div class="md-form">
              <i class="fa fa-profile prefix grey-text"></i>
              <input mdbActive type="password" class="form-control" id="form11" name="password">
              <label for="form11">Confirm password</label>
            </div>

            <div class="text-center">
              <button class="btn btn-lg btn-primary waves-light" mdbRippleRadius>Login</button>
            </div>
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
