<h2>Hello World!</h2>

<!--

http://localhost:4200/ui-template

Hi dotay,

Here's an example template, please feel free to add template for each page.

Steps:

1. Add *.component.ts and *.component.html files in templates folder
2. Declare component in public.module.ts inside declarations property
3. Add route in public-routing.module.ts

Please provide templates for the following:

Registration Page - fields: goto http://localhost:4200/register

Admin Page - fields: goto: https://e-co.corelate.net/#/admin/faq ( login credentials: admin@trade.corelate.net / 123qwe )

  Listing
  https://e-co.corelate.net/#/admin/faq
  https://e-co.corelate.net/#/admin/content

  * Table with action buttons for delete and publish / unpublish
  * Button for adding new content

  Forms
  https://e-co.corelate.net/#/admin/content/new
  https://e-co.corelate.net/#/admin/faq/new


  * Please provide example fields with error and error message


Login Page - static html file - provide the css inside the header tag. ( this will be hosted outside this app )

-->
