<div class="isv-activation container-fluid blue darken-4 py-4">
  <div class="row d-flex justify-content-center py-4 my-4">
    <div class="col-12 col-sm-10 col-lg-8 col-xl-6">
      <div class="isv-activation__brand row d-flex justify-content-center">
        <div class="isv-brand col-12 align-self-center d-flex justify-content-center pb-3">
          <!--Logo Image-->

          <img src="assets/images/logo-corelate.png" class="isv-brand img-fluid py-3" alt="Corelate">
        </div>
      </div>
      <div class="isv-activation__form row d-flex justify-content-center p-4">
        <div class="col-12 col-md-6 card d-flex p-0">
          <form (ngSubmit)="onActivate(f.value)" #f="ngForm" class="align-self-center w-100 p-4">
            <p class="h3 text-center my-4">Account Activation</p>

            <div class="md-form pb-2">
              <input mdbActive  type="email" name="username" id="username" tabindex="1" class="form-control" [ngModel]="username" required>
              <label for="username">Username / Email <span class="text-danger">*</span></label>
            </div>

            <div class="md-form pb-2">
              <input mdbActive type="text" name="activationCode" id="activationCode" tabindex="2" class="form-control" [ngModel]="activationCode" required>
              <label for="activationCode">Activation Code <span class="text-danger">*</span></label>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-lg light-green darken-3 waves-light" [disabled]="f.invalid" tabindex="3" mdbRippleRadius>Activate</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
