<!--Carousel -->

<ng-template #carousel>
  <div class="isv-block-setup__carousel row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-1 text-center py-4">
      <i class="fa fa-chevron-left grey-text py-4" aria-hidden="true"></i>
    </div>
    <div class="col text-center py-4">
      <h2 class="h2-responsive grey-text py-4">Carousel</h2>
    </div>
    <div class="col-1 text-center py-4">
      <i class="fa fa-chevron-right grey-text py-4" aria-hidden="true"></i>
    </div>
  </div>
</ng-template>

<!--Help -->
<ng-template #help>
  <div class="isv-block-setup__article row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12 py-4">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="h4-responsive grey-text py-2">Help</h4>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-8 px-3">
          <div class="row px-4">
            <div class="col-12 pb-2">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
          <div class="row px-4">
            <div class="col-12 col-md-6">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
            <div class="col-12 col-md-6">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</ng-template>

<!--FAQ -->
<ng-template #faq>
  <div class="isv-block-setup__article row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12 py-4">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="h4-responsive grey-text py-2">FAQ</h4>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-8 px-3">
          <div class="row px-4">
            <div class="col-12 pb-2">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
          <div class="row px-4">
            <div class="col-12 col-md-6">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
            <div class="col-12 col-md-6">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</ng-template>

<!--Contact Info -->
<ng-template #contactInfo>
  <div class="isv-block-setup__contact-info row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12 py-4">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="h4-responsive grey-text py-2">Contact Information</h4>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-8 px-3">
          <div class="row px-4">
            <div class="col-12 pb-2">
              <img src="http://via.placeholder.com/800x300?text=MAP" class="img-fluid pb-2" alt="Google Map">
            </div>
          </div>
          <div class="row px-4">
            <div class="col-12 pb-2">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
          <div class="row px-4">
            <div class="col-3">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
            <div class="col-9">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</ng-template>

<!--Contact Form -->
<ng-template #contactForm>
  <div class="isv-block-setup__contact-form row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12 py-4">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="h4-responsive grey-text py-2">Contact Form</h4>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-8 px-3">
          <div class="row px-4">
            <div class="col-12 pb-2">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
          <div class="row px-4">
            <div class="col"></div>
            <div class="col-8">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
            <div class="col"></div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</ng-template>

<!--Custom Block -->
<ng-template #text>
  <div class="isv-block-setup__custom row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12 text-center py-4">
      <h4 class="h4-responsive grey-text py-4">Custom Content <br />WYSIWYG</h4>
    </div>
  </div>
</ng-template>

<!--Grid -->
<ng-template #grid>
  <div class="isv-block-setup__grid row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12 py-4">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="h4-responsive grey-text py-2">Grid</h4>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-8 px-3">
          <div class="row px-4">
            <div class="col-12 pb-2">
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
          <div class="row px-4">
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
                </div>
                <div class="col-12">
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
                </div>
                <div class="col-12">
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
                </div>
                <div class="col-12">
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
                </div>
                <div class="col-12">
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                  <div class="col-12 grey lighten-1 p-1 my-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #news>
  <div class="isv-block-setup__article row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="h4-responsive grey-text py-2">News</h4>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-8 px-3">
          <div class="row">
            <div class="col-12 col-md-4">
              <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
            </div>
            <div class="col-12 col-md-8">
              <div class="col-12 grey lighten-1 p-2 mb-2"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
            </div>
            <div class="col-12 col-md-8">
              <div class="col-12 grey lighten-1 p-2 mb-2"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #events>
  <div class="isv-block-setup__article row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="h4-responsive grey-text py-2">Events</h4>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-8 px-3">
          <div class="row">
            <div class="col-12 col-md-4">
              <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
            </div>
            <div class="col-12 col-md-8">
              <div class="col-12 grey lighten-1 p-2 mb-2"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
            </div>
            <div class="col-12 col-md-8">
              <div class="col-12 grey lighten-1 p-2 mb-2"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #announcements>
  <div class="isv-block-setup__article row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="h4-responsive grey-text py-2">Announcements</h4>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-8 px-3">
          <div class="row">
            <div class="col-12 col-md-4">
              <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
            </div>
            <div class="col-12 col-md-8">
              <div class="col-12 grey lighten-1 p-2 mb-2"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
            </div>
            <div class="col-12 col-md-8">
              <div class="col-12 grey lighten-1 p-2 mb-2"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #advocacies>
  <div class="isv-block-setup__article row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="h4-responsive grey-text py-2">Advocacies</h4>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-8 px-3">
          <div class="row">
            <div class="col-12 col-md-4">
              <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
            </div>
            <div class="col-12 col-md-8">
              <div class="col-12 grey lighten-1 p-2 mb-2"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <img src="http://via.placeholder.com/800x600?text=IMAGE" class="img-fluid pb-2" alt="Article Image">
            </div>
            <div class="col-12 col-md-8">
              <div class="col-12 grey lighten-1 p-2 mb-2"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
              <div class="col-12 grey lighten-1 p-1 my-1"></div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</ng-template>



<ng-template #default>
  <div class="isv-block-setup__custom row grey lighten-3 py-4 mx-0 d-md-flex flex-grow">
    <div class="col-12 text-center py-4">
      <h4 class="h4-responsive grey-text py-4">Default</h4>
    </div>
  </div>
</ng-template>

<div class="container isv-block-setup">
  <div class="row">
    <ng-container *ngIf="block">
      <div *ngIf="!showCreateNewBlockWindow" class="col-12">
        <div *ngIf="block.blockPanels.length === 0" class="isv-block-setup__empty-blocks">
          <i class="fa fa-info-circle blocks-setup__empty-blocks-icon mr-1"></i>
          You have not added a block yet
        </div>
        <div *ngIf="block.blockPanels.length !== 0">
          <div [dragula]="blocks-list" [dragulaModel]="block.blockPanels" class="block">
            <div *ngFor="let block of block.blockPanels; let i = index" class="mb-20">
              <div *ngIf="block.template === BlockTemplate.ONE_COLUMN" class="row">
                <div class="col-12 text-right">
                  <button (click)="deleteBlock(i)" type="button" class="btn btn-sm isv-btn-block-setup btn-red waves-light" mdbRippleRadius mdbTooltip="Delete" placement="top">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <button (click)="updateBlock(i)" type="button" class="btn btn-sm isv-btn-block-setup btn-amber waves-light" mdbRippleRadius mdbTooltip="Edit" placement="top">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-sm isv-btn-block-setup btn-blue waves-light" mdbRippleRadius mdbTooltip="Move" placement="top">
                    <i class="fa fa-arrows" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col-12 isv-block-setup__edit-element pb-3">
                  <div [ngSwitch]="block.contents[0].content" class="mx-3 red">
                    <ng-template *ngSwitchCase="BlockType.CAROUSEL" [ngTemplateOutlet]="carousel"></ng-template>
                    <ng-template *ngSwitchCase="BlockType.NEWS" [ngTemplateOutlet]="news"></ng-template>
                    <ng-template *ngSwitchCase="BlockType.EVENTS" [ngTemplateOutlet]="events"></ng-template>
                    <ng-template *ngSwitchCase="BlockType.ANNOUNCEMENTS" [ngTemplateOutlet]="announcements"></ng-template>
                    <ng-template *ngSwitchCase="BlockType.ADVOCACIES" [ngTemplateOutlet]="advocacies"></ng-template>
                    <ng-template *ngSwitchCase="BlockType.FAQ" [ngTemplateOutlet]="faq"></ng-template>
                    <ng-template *ngSwitchCase="BlockType.HELP" [ngTemplateOutlet]="help"></ng-template>
                    <ng-template *ngSwitchCase="BlockType.CONTACT_INFO" [ngTemplateOutlet]="contactInfo"></ng-template>
                    <ng-template *ngSwitchCase="BlockType.CONTACT_FORM" [ngTemplateOutlet]="contactForm"></ng-template>
                    <ng-template *ngSwitchCase="BlockType.GRID" [ngTemplateOutlet]="grid"></ng-template>
                    <ng-template *ngSwitchCase="BlockType.CUSTOM_CONTENT" [ngTemplateOutlet]="text"></ng-template>
                    <ng-template *ngSwitchDefault [ngTemplateOutlet]="default"></ng-template>
                  </div>
                </div>
              </div>
              <div *ngIf="block.template === BlockTemplate.TWO_COLUMNS" class="row">
                <div class="col-12 text-right">
                  <button (click)="deleteBlock(i)" type="button" class="btn btn-sm isv-btn-block-setup btn-red waves-light" mdbRippleRadius mdbTooltip="Delete" placement="top">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <button (click)="updateBlock(i)" type="button" class="btn btn-sm isv-btn-block-setup btn-amber waves-light" mdbRippleRadius mdbTooltip="Edit" placement="top">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-sm isv-btn-block-setup btn-blue waves-light" mdbRippleRadius mdbTooltip="Move" placement="top">
                    <i class="fa fa-arrows" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col-12">
                  <div class="row px-3 d-md-flex">
                    <div class="col-6 isv-block-setup__edit-element pb-3 pr-4 d-md-flex">
                    <div [ngSwitch]="block.contents[0].content" class="red d-md-flex flex-column align-content-md-stretch w-100">
                      <ng-template *ngSwitchCase="BlockType.NEWS" [ngTemplateOutlet]="news"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.EVENTS" [ngTemplateOutlet]="events"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.ANNOUNCEMENTS" [ngTemplateOutlet]="announcements"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.ADVOCACIES" [ngTemplateOutlet]="advocacies"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.FAQ" [ngTemplateOutlet]="faq"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.HELP" [ngTemplateOutlet]="help"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.CONTACT_INFO" [ngTemplateOutlet]="contactInfo"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.CONTACT_FORM" [ngTemplateOutlet]="contactForm"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.GRID" [ngTemplateOutlet]="grid"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.CUSTOM_CONTENT" [ngTemplateOutlet]="text"></ng-template>
                      <ng-template *ngSwitchDefault [ngTemplateOutlet]="default"></ng-template>
                    </div>
                  </div>
                    <div class="col-6 isv-block-setup__edit-element pb-3 pl-4 d-md-flex">
                    <div [ngSwitch]="block.contents[1].content" class="red d-md-flex flex-column align-content-md-stretch w-100">
                      <ng-template *ngSwitchCase="BlockType.NEWS" [ngTemplateOutlet]="news"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.EVENTS" [ngTemplateOutlet]="events"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.ANNOUNCEMENTS" [ngTemplateOutlet]="announcements"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.ADVOCACIES" [ngTemplateOutlet]="advocacies"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.FAQ" [ngTemplateOutlet]="faq"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.HELP" [ngTemplateOutlet]="help"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.CONTACT_INFO" [ngTemplateOutlet]="contactInfo"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.CONTACT_FORM" [ngTemplateOutlet]="contactForm"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.GRID" [ngTemplateOutlet]="grid"></ng-template>
                      <ng-template *ngSwitchCase="BlockType.CUSTOM_CONTENT" [ngTemplateOutlet]="text"></ng-template>
                      <ng-template *ngSwitchDefault [ngTemplateOutlet]="default"></ng-template>
                    </div>
                  </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row p-4">
              <div class="isv-block-setup__add-new-block col-12 text-center p-4">
                <button (click)="createNewBlock()" class="btn btn-lg btn-outline-black w-100"><i class="fa fa-plus-circle"></i> ADD A NEW BLOCK</button>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-12 text-right">
            <button (click)="saveLayout()" type="button" class="btn light-green darken-2 waves-effect waves-light waves-light" mdbRippleRadius>Save Layout</button>
          </div>
        </div>
      </div>
      <div *ngIf="showCreateNewBlockWindow" class="col-12">
        <div *ngIf="!selectedTemplate">

          <div class="isv-block-setup__add-block-label row p-4">
            <div class="col-12 text-center">
              <h3 class="h3-responsive p-1">Select A Block Layout</h3>
            </div>
          </div>

          <div class="isv-block-setup__add-block-choice row p-4">
            <div (click)="selectTemplate(BlockTemplate.ONE_COLUMN)" [ngClass]="{ 'choice--selected' : blockTemplate === BlockTemplate.ONE_COLUMN }" class="col-6 text-center choice rounded p-4">
              <h4 class="h4-responsive">One Column</h4>
                <div class="col-12">
                  <div class="row p-4">
                    <div class="col-12 grey lighten-2 p-4 spacer">
                    </div>
                  </div>
                </div>
            </div>
            <div (click)="selectTemplate(BlockTemplate.TWO_COLUMNS)" [ngClass]="{ 'choice--selected' : blockTemplate === BlockTemplate.TWO_COLUMNS }" class="col-6 text-center choice rounded p-4">
              <h4 class="h4-responsive">Two Columns</h4>
              <div class="col-12">
                <div class="row p-4">
                  <div class="col-6 grey lighten-2 p-4 spacer border-spacer">
                  </div>
                  <div class="col-6 grey lighten-2 p-4 spacer">
                  </div>
                </div>
              </div>
            </div>
            <!--<div (click)="selectTemplate(BlockTemplate.TAB)" [ngClass]="{ 'choice&#45;&#45;selected' : blockTemplate === BlockTemplate.TAB }" class="col-4 text-center choice rounded p-2">-->
              <!--<p>Tabs</p>-->
              <!--<div class="col-12">-->
                <!--<div class="row">-->
                  <!--<div class="col-4 grey lighten-2 rounded-top tab-spacer border-spacer">-->
                  <!--</div>-->
                  <!--<div class="col-4 grey lighten-3 rounded-top tab-spacer border-spacer">-->
                  <!--</div>-->
                  <!--<div class="col-4 grey lighten-3 rounded-top tab-spacer">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                  <!--<div class="col-12 grey lighten-2 p-4 tab-body-spacer">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

            <!--</div>-->
          </div>

          <div class="isv-block-setup__actions row mt-2 d-flex">
            <div class="col-6 align-self-center">
              <button (click)="resetUi()" type="button" class="btn btn-md btn-outline-blue-grey">Cancel</button>
            </div>
            <div class="col-6 text-right align-self-center">
              <button [ngClass]="{ 'disabled': blockTemplate == null}" (click)="confirmTemplate(true)" type="button" class="btn light-green darken-2 waves-effect waves-light">Next</button>
            </div>
          </div>
        </div>

        <div *ngIf="selectedTemplate" class="col-12">



          <div *ngIf="blockTemplate == BlockTemplate.ONE_COLUMN">
            <div class="isv-block-setup__add-block-label row pt-4">
              <div class="col-12 text-center">
                <h5 class="h5-responsive p-1">Select Component</h5>
              </div>
            </div>

            <div class="isv-block-setup__add-block-component row p-4">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 grey lighten-2 p-4 text-center">
                    <div class="row">
                      <div class="col"></div>
                      <div class="col-8 text-center py-4">
                        <mdb-ng-select [options]="singleColumnBlockComponents" [(ngModel)]="blockContents[0].content" placeholder="Pick A Component" class="mt-4"></mdb-ng-select>
                      </div>
                      <div class="col"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="blockTemplate == BlockTemplate.TWO_COLUMNS">
            <div class="isv-block-setup__add-block-label row pt-4">
              <div class="col-12 text-center">
                <h5 class="h5-responsive p-1">Select Components</h5>
              </div>
            </div>

            <div class="isv-block-setup__add-block-component row p-4">

              <div class="col-6">
                <div class="row">
                  <div class="col-12 grey lighten-2 p-4 text-center border-spacer">
                    <div class="row">
                      <div class="col"></div>
                      <div class="col-8 text-center py-4">
                        <mdb-ng-select [options]="dualColumnBlockComponents" [(ngModel)]="blockContents[0].content" placeholder="Pick A Component" class="my-4"></mdb-ng-select>
                      </div>
                      <div class="col"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="row">
                  <div class="col-12 grey lighten-2 p-4 text-center">
                    <div class="row">
                      <div class="col"></div>
                      <div class="col-8 text-center py-4">
                        <mdb-ng-select [options]="dualColumnBlockComponents" [(ngModel)]="blockContents[1].content" placeholder="Pick A Component" class="my-4"></mdb-ng-select>
                      </div>
                      <div class="col"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--<div *ngIf="blockTemplate == BlockTemplate.TAB">-->
            <!--<div class="isv-block-setup__add-block-label row pt-4">-->
              <!--<div class="col-12 text-center">-->
                <!--<h5 class="h5-responsive p-1">Select Component</h5>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="isv-block-setup__add-block-component row p-4">-->
              <!--<div class="col-12">-->
                <!--<div class="row">-->
                  <!--<div class="col-12 grey lighten-2 p-4 text-center">-->
                    <!--<div class="row">-->
                      <!--<div class="col"></div>-->
                      <!--<div class="col-8 py-4">-->
                        <!--UNDER CONSTRUCTION-->
                      <!--</div>-->
                      <!--<div class="col"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <div class="isv-block-setup__actions row mt-2 d-flex">
            <div class="col-6 align-self-center">
              <button (click)="confirmTemplate(false)" type="button" class="btn btn-outline-blue-grey">Change Layout</button>
            </div>
            <div class="col-6 text-right align-self-center">
              <button [disabled]="hasEmptyContent()" (click)="addBlock()" type="button" class="btn light-green darken-2 waves-effect waves-light">
                <span *ngIf="this.selectedIndex === null">Add Block</span>
                <span *ngIf="this.selectedIndex !== null">Update Block</span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!block">
      <div class="row p-4">
        <div class="col-12 text-center m-4 p-4">
          <mdb-spinner spinnerType="small" spinnerColor="blue"></mdb-spinner>
        </div>
      </div>
    </ng-container>
  </div>
</div>
