<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Corelate :: Business Process Workflow</title>
    <link rel="icon" type="image/ico" href="../favicon.ico">

    <link rel="stylesheet" href="styles/e3a87eff.3thparty.css"/>

    <link rel="stylesheet" href="styles/25957002.style.css"/>
    
    <link rel="Stylesheet" href="../libs/ui-grid_3.0.4/ui-grid.min.css" type="text/css"/>
</head>
<body ng-cloak>
    <div class="navbar navbar-fixed-top navbar-inverse" ng-show="!root.headless" role="navigation" id="main-nav">
        <div class="fixed-container">
            <div class="navbar-header">
                <a ng-click="backToLanding()" class="landing-logo" ng-if="account != null && account != undefined" title="{{'GENERAL.MAIN-TITLE' | translate}}">
                    <img ng-if="account.tenantPictureId && account.tenantId"
                         ng-src="{{restRootUrl()}}/app/rest/tenants/{{account.tenantId}}/logo">

                    <img ng-if="!account.tenantPictureId" ng-src="{{appResourceRoot}}../images/logo-2x.png">
                </a>
                <ul class="nav navbar-nav" ng-show="authenticationChecked">
                    <li ng-repeat="item in mainNavigation" ng-show="(authenticated && !item.unauthenticated) || (item.unauthenticated && !authenticated)" ng-class="{'active': item.id == mainPage.id}">
                        <a ng-click="setMainPage(item)">{{item.title | translate}}</a>
                    </li>
                    <li class="navigation-action" ng-repeat="item in mainNavigationActions" ng-show="(authenticated && !item.unauthenticated) || (item.unauthenticated && !authenticated)">
                        <a ng-click="setMainPage(item)">
                            <span class="glyphicon glyphicon-{{item.icon}}"></span>
                            <span> {{item.title | translate}}</span>
                        </a>
                    </li>
                </ul>
                <a ng-show="authenticationChecked" ng-click="setMainPage(item)">{{item.title | translate}}</a>
            </div>
            <ul class="nav navbar-nav navbar-right navbar-profile">
                <li><a href="/idm/#/profile">{{account.firstName}} {{account.lastName}}</a></li>
                <li><a ng-click="logout()" translate="GENERAL.ACTION.LOGOUT"></a></li>
            </ul>
        </div>
    </div>

    <!--[if lt IE 9]>
    <div class="unsupported-browser">
        <p class="alert error">You are using an unsupported browser. Please upgrade your browser in order to use the
            editor.</p>
    </div>
    <![endif]-->
    <!--[if IE 9]>
    <div id="no-flash-message" class="unsupported-browser" style="display: none">
        <p class="alert error">No Adobe Flash installed. Please install Adobe Flash in order to use the file upload capabilities on this version of Internet Explorer.</p>
    </div>
    <script>
        var hasFlash = false;
        try {
            hasFlash = Boolean(new ActiveXObject('ShockwaveFlash.ShockwaveFlash'));
        } catch(exception) {
            hasFlash = ('undefined' != typeof navigator.mimeTypes['application/x-shockwave-flash']);
        }
        if (!hasFlash) {
            var showNoFlashMessage = function () {
                var element = document.getElementById('no-flash-message');
                element.style.display="block";
            };
            showNoFlashMessage();
        }
    </script>
    <![endif]-->
    <div class="alert-wrapper" ng-cloak ng-class="{'no-header' : root.headless}">
        <div class="alert {{alerts.current.type}}" ng-show="alerts.current" ng-click="dismissAlert()">
            <span>{{alerts.current.message}}</span>
            <span class="badge" ng-show="alerts.queue.length">{{alerts.queue.length + 1}}</span>
        </div>
    </div>

    <div class="wrapper clearfix" ng-class="{'no-header' : root.headless}" ng-view="" ng-cloak ng-style="{height: window.height + 'px'}">
    </div>

    <!--[if lt IE 9]>
    <script src="../libs/es5-shim-15.3.4.5/es5-shim.js"></script>
    <script src="../libs/json3_3.2.6/lib/json3.min.js"></script>
    <![endif]-->

    <!-- 3rd party libs -->
    <script src="../libs/jquery-1.11.0/jquery.min.js"></script>
    <script src="../libs/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="../libs/angular_1.3.13/angular.min.js"></script>
    <script src="../libs/angular-animate_1.3.13/angular-animate.min.js"></script>
    <script src="../libs/bootstrap_3.1.1/js/bootstrap.min.js"></script>
    <script src="../libs/angular-resource_1.3.13/angular-resource.min.js"></script>
    <script src="../libs/angular-cookies_1.3.13/angular-cookies.min.js"></script>
    <script src="../libs/angular-sanitize_1.3.13/angular-sanitize.min.js"></script>
    <script src="../libs/angular-route_1.3.13/angular-route.min.js"></script>
    <script src="../libs/angular-translate_2.8.1/angular-translate.min.js"></script>
    <script src="../libs/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="../libs/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="../libs/angular-strap_2.1.6/angular-strap.min.js"></script>
    <script src="../libs/angular-strap_2.1.6/angular-strap.tpl.min.js"></script>
    <script src="../libs/angular-dragdrop_1.0.11/angular-dragdrop.min.js"></script>
    <script src="../libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="../libs/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="../libs/momentjs_2.5.1/momentjs.min.js"></script>
    <script src="../libs/ui-grid_3.0.4/ui-grid.min.js" type="text/javascript"></script>
    <script src="../libs/office-service-launcher_1.0/office-service-launcher.js"></script>
    <script src="../libs/angular-loading-bar-0.7.0/loading-bar.min.js"></script>
    <script src="../libs/angular-hotkeys_1.4.5/hotkeys--activiti-patch.js"></script>
    <script src="../libs/angular-drag-and-drop-lists_1.2.0/angular-drag-and-drop-lists.js"></script>
    <script src="../libs/ui-bootstrap-custom-build-pagination/ui-bootstrap-custom-0.13.0-pagination.js"></script>
    <script src="../libs/ui-bootstrap-custom-build-pagination/ui-bootstrap-custom-tpls-0.13.0-pagination.js"></script>
    <script src="../libs/bootstrap_dropdowns_enhancement-3.1.1/js/dropdowns-enhancement.js"></script>
    <script src="../libs/css-element-queries-0.3.0/src/ResizeSensor.js"></script>
    <script src="../app/rest/script-files/libraries"></script>

    <!-- Configuration -->
    <script src="../scripts/app-cfg.js?v=2"></script>

    <script src="scripts/e7e7fc82.scripts.js"></script>
    <script src="../app/rest/script-files/controllers"></script>
    <script src="extensions/render-form-extensions.js?v=2"></script>

    <!-- Integration extensions -->
    <script src="../scripts/resource-loader.js?v=1.4" app="workflow" module="activitiApp"></script>

</body>
</html>
