<div class="detail-group clearfix" ng-if="contentAlfrescoAccounts.loading === false && contentAlfrescoAccounts.onPrem === true">
    <div class="col-xs-12">
        <div class="col-xs-3">
            <label>{{'PROCESS-BUILDER.PUBLISH-STEP.DESTINATION.ACCOUNT' | translate}}:</label>
        </div>
        <div class="col-xs-9">
            <select id="alfrescoAccount" class="form-control" ng-options="account as account.name for account in contentAlfrescoAccounts.rawList"
                    ng-model="alfrescoAccount.selected"
                    ng-change="onAccountChanged()"></select>
        </div>
    </div>
</div>
<div class="detail-group clearfix" ng-if="contentAlfrescoAccounts.loading === false && (!contentAlfrescoAccounts.rawList || contentAlfrescoAccounts.rawList.length === 0)">
    <div class="col-xs-12">
        <div class="clearfix span">
            <label class="center">{{'PROCESS-BUILDER.PUBLISH-STEP.DESTINATION.NO-ACCOUNTS' | translate}}</label>
        </div>
    </div>
</div>
