<div ng-controller="FormVariableMappingController">
    <div class="form-group clearfix" >
        <div class="col-xs-3">
            <label>{{'PROCESS-BUILDER.FIELD.FORM-SELECT.VARIABLE-MAPPING' | translate}}</label>
        </div>
        <div class="col-xs-9">
            <label class="ng-binding">
                <input type="checkbox" ng-model="model.hasVariableMapping" class="ng-pristine ng-untouched ng-valid" ng-disabled="readonly"/>
                {{'PROCESS-BUILDER.FIELD.FORM-SELECT.VARIABLE-MAPPING-DESCRIPTION' | translate}}
            </label>
        </div>
    </div>

    <div class="form-group clearfix" ng-show="showVariableMapping()">
        <div  ng-form="globalForm">
            <div class="modal-body">
                <div ng-if="loadingForms">
                    <p class="loading">{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.LOADING' | translate}}</p>
                </div>
                <div ng-if="!loadingForms">
                    <div>
                        <div ng-show="!isEmbeddedForm">
                            <div class="row row-no-gutter">
                                <!--Grid Section Start-->
                                <div class="col-xs-12">
                                    <div class="kis-listener-grid" ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize></div>
                                    <div ng-if="!readonly" class="pull-right">
                                        <div class="btn-group">
                                            <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.ADD' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="addField()"><i class="glyphicon glyphicon-plus"></i></a>
                                            <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.REMOVE' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="removeField()" ng-disabled="disableRemove()" ><i class="glyphicon glyphicon-minus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-no-gutter">

                                <div class="col-xs-12">
                                    <div ng-show="currentVariableMapping && !isDataGridEmpty()" >

                                        <div>
                                            <div class="form-group clearfix" ng-if="!isStartStep()">
                                                <label>{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.PROPERTY-TYPE-MAPPING' | translate}}</label>
                                                <div class="btn-group btn-group-justified" >
                                                    <div class="btn-group">
                                                        <button type="button"  class="btn btn-default" ng-click="setTypeOfMapping('inputOutputMap')" ng-model="currentVariableMapping.typeOfMapping" ng-disabled="readonly"
                                                                ng-class="{'active' : (!currentVariableMapping.typeOfMapping || currentVariableMapping.typeOfMapping === 'inputOutputMap')}">{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.INOUT-MAPPING' | translate}}</button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default" ng-click="setTypeOfMapping('inputMap')" ng-model="currentVariableMapping.typeOfMapping" ng-disabled="readonly"
                                                                ng-class="{'active' : currentVariableMapping.typeOfMapping === 'inputMap'}">{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.INPUT-MAPPING' | translate}}</button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default" ng-click="setTypeOfMapping('outputMap')" ng-model="currentVariableMapping.typeOfMapping" ng-disabled="readonly"
                                                                ng-class="{'active' : currentVariableMapping.typeOfMapping === 'outputMap'}">{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.OUTPUT-MAPPING' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Input process Variable Start-->
                                        <div ng-if="!isStartStep()" ng-show="(currentVariableMapping.typeOfMapping ==='inputMap' || currentVariableMapping.typeOfMapping ==='inputOutputMap')">

                                            <div class="form-group clearfix">
                                                <label>{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.PROPERTY-VALUE-TYPE' | translate}}</label>
                                                <div class="btn-group btn-group-justified">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default" ng-click="setInputVariableType('formField')" ng-model="currentVariableMapping.inVariableType" ng-disabled="readonly"
                                                                ng-class="{'active' : (!currentVariableMapping.inVariableType || currentVariableMapping.inVariableType === 'formField')}">{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.PROPERTY-TYPE-FIELD' | translate}}</button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default" ng-click="setInputVariableType('restResponse')" ng-model="currentVariableMapping.inVariableType" ng-disabled="readonly"
                                                                ng-class="{'active' : currentVariableMapping.inVariableType === 'restResponse'}">{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.PROPERTY-TYPE-VARIABLE' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <label>{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.INPROCESSVARIABLE' | translate}}:</label>

                                            <div class="form-group clearfix" ng-show="currentVariableMapping.inVariableType === 'formField'">
                                                <div id="inputVariableField" field-select="currentVariableMapping.inProcessVariable"
                                                     editor-type="bpmn" all-steps="allSteps" step-id="selectedShape.resourceId" ng-disabled="readonly"
                                                     include-type="true" expand-relative="true" field-type-filter="mappingFieldTypes" ng-required="!currentVariableMapping.outProcessVariable"></div>
                                            </div>

                                            <div class="form-group clearfix" ng-show="currentVariableMapping.inVariableType === 'restResponse'">
                                                <div id="inputVariableRest"  field-select="currentVariableMapping.inProcessVariable" include-type="true"
                                                     variables-type="rest" editor-type="bpmn" expand-relative="true" ng-disabled="readonly"
                                                     select-title="'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.INPROCESSVARIABLE.PLACEHOLDER'"
                                                     all-steps="allSteps" step-id="selectedShape.resourceId" ng-required="!currentVariableMapping.outProcessVariable"></div>
                                            </div>

                                        </div>
                                        <!--Input process Variable End-->

                                        <!--Form process Variable Start-->
                                        <label>{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.PROPERTY-TYPE-FIELD' | translate}}</label>
                                        <div class="form-group clearfix">
                                            <div id="formProcessVariable" field-select="currentVariableMapping.mappedVariable"
                                                 editor-type="bpmn" all-steps="allSteps" step-id="selectedShape.resourceId"
                                                 fields="currentFormVariables" ng-disabled="readonly"
                                                 include-type="true" expand-relative="true" field-type-filter="mappingFieldTypes" required></div>
                                        </div>
                                        <!--Form process Variable End-->

                                        <!--Output process Variable Start-->
                                        <div ng-show="currentVariableMapping.typeOfMapping==='outputMap' || currentVariableMapping.typeOfMapping==='inputOutputMap'">
                                            <div class="form-group clearfix" >
                                                <label>{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.PROPERTY-VALUE-TYPE' | translate}}</label>
                                                <div class="btn-group btn-group-justified" ng-if="!isStartStep()">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default" ng-click="setOutputVariableType('staticValue')" ng-model="outVariableType" ng-disabled="readonly"
                                                                ng-class="{'active' : currentVariableMapping.outVariableType === 'staticValue'}">{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.PROPERTY-NEW-VARIABLE' | translate}}
                                                        </button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default" ng-click="setOutputVariableType('formField')" ng-model="outVariableType" ng-disabled="readonly"
                                                                ng-class="{'active' : (!currentVariableMapping.outVariableType || currentVariableMapping.outVariableType === 'formField')}">{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.PROPERTY-TYPE-FIELD' | translate}}</button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default" ng-click="setOutputVariableType('restResponse')" ng-model="outVariableType" ng-disabled="readonly"
                                                                ng-class="{'active' : currentVariableMapping.outVariableType === 'restResponse'}">{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.POPUP.PROPERTY-TYPE-VARIABLE' | translate}}</button>
                                                    </div>
                                                </div>

                                                <label>{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.OUTPROCESSVARIABLE' | translate}}</label>
                                                <div class="form-group" ng-show="currentVariableMapping.outVariableType === 'formField'" ng-if="!isStartStep()">
                                                    <div id="outputVariableField" field-select="currentVariableMapping.outProcessVariable"
                                                         editor-type="bpmn" all-steps="allSteps" step-id="selectedShape.resourceId" ng-disabled="readonly"
                                                         include-type="true" expand-relative="true" field-type-filter="mappingFieldTypes"  ng-required="!currentVariableMapping.inProcessVariable"></div>
                                                </div>

                                                <div class="form-group clearfix" ng-show="currentVariableMapping.outVariableType === 'restResponse'" ng-if="!isStartStep()">
                                                    <div id="outputVariableRest" field-select="currentVariableMapping.outProcessVariable" include-type="true"
                                                         variables-type="rest" editor-type="bpmn" expand-relative="true" ng-disabled="readonly"
                                                         select-title="'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.INPROCESSVARIABLE.PLACEHOLDER'"
                                                         all-steps="allSteps" step-id="selectedShape.resourceId"  ng-required="!currentVariableMapping.inProcessVariable"></div>
                                                </div>

                                                <div class="form-group" ng-show="currentVariableMapping.outVariableType === 'staticValue' || isStartStep()">
                                                    <div>
                                                        <input type="text" id="outputValueField" ng-disabled="readonly" class="form-control" variable-identifier ng-model="currentVariableMapping.outProcessVariable.id"  ng-required="!currentVariableMapping.inProcessVariable"/>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!--Output process Variable End-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div ng-show="isEmbeddedForm">
                        <label>{{'PROCESS-BUILDER.VARIABLE-MAPPING-MESSAGE.EMBEDDEDFORM' | translate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
