<div class="detail-group clearfix first">
    <div class="col-xs-12">
        <div class="btn-group span">
            {{step.meta.googleDriveSourceOption.title}}
        </div>
    </div>
</div>
<div class="detail-group clearfix" ng-show="step.meta.googleDriveSourceOption.id == 'field'">
    <div class="form-group clearfix">
        <div class="col-xs-3">
            <label>{{'PROCESS-BUILDER.PUBLISH-STEP.SOURCE.FORM-FIELD' | translate}}:</label>
        </div>
        <div class="col-xs-9" ng-if="step.contentContainerField && step.contentContainerField.id">
            <label>{{step.contentContainerField.name}}</label>
        </div>
    </div>
</div>

<div class="detail-group clearfix" ng-show="step.meta.googleDriveSourceOption">
    <metadata-grid ng-readonly="true"/>
</div>
