<div class="isv-admin-faq">
  <ng-container *ngIf="(modal && !showForm) || !modal">
    <div class="row pt-1">
      <div class="isv-admin-faq__title col-12">
        <h3 class="h3-responsive w-75 float-left pt-0">
          FAQ Management
        </h3>
        <button *ngIf="modal" (click)="modal.hide()" class="close pull-right" aria-hidden="true">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>
    <hr class="mb-4 mt-3"/>
  </ng-container>
  <ng-container *ngIf="!showForm">
    <div class="row">
      <div class="isv-admin-faq__new col-12 text-right" *isAuthorized="['FAQ_ADD']">
        <button (click)="edit()" class="btn btn-md blue darken-1 waves-effect waves-light" type="button"><i class="fa fa-plus pr-1" aria-hidden="true"></i> Add A New Question</button>
      </div>
    </div>
    <div class="row p-4">
      <div class="col-12 px-0">
        <ngx-datatable #datatable
                       class="custom"
                       [rows]="faqs"
                       [loadingIndicator]="loading"
                       [columnMode]="'force'"
                       [footerHeight]="'auto'"
                       [rowHeight]="'auto'"
                       [externalPaging]="true"
                       [count]="params.totalElements"
                       [offset]="params.page"
                       [limit]="params.size"
                       (page)='setPage($event)'>

          <ngx-datatable-column name="Questions">
            <ng-template let-column="column" ngx-datatable-header-template>
              <strong>Questions</strong>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <h4 class="title h4-responsive blue-text py-2 mb-0 pl-2 mr-3">
                <a *isAuthorized="['FAQ_EDIT']" (click)="edit(row.id)" class="clickable">{{ row.question }}</a>
                <span *isNotAuthorized="['FAQ_EDIT']">{{ row.question }}</span>
              </h4>
              <p class="content grey-text mb-0 pl-2"><small>{{row.answer}}</small></p>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Published">
            <ng-template let-column="column" ngx-datatable-header-template>
                <strong>{{ 'FAQ.TABLE.COLUMN.PUBLISHED' | translate }}</strong>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="text-center py-3">
                <h3 class="green-text m-0 p-0"><i *ngIf="value" class="fa fa-check"></i>
                <span class="red-text"><i *ngIf="!value" class="fa fa-times"></i></span></h3>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *isAuthorized="['FAQ_EDIT','FAQ_PUBLISH','FAQ_DELETE']">
            <ng-template let-column="column" ngx-datatable-header-template>
                <strong>Actions</strong>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="text-center py-3">
                <button *isAuthorized="['FAQ_DELETE']" (click)="delete(row)" type="button" class="btn btn-sm isv-btn-faq-list btn-red waves-light my-0" mdbRippleRadius mdbTooltip="Delete" placement="top">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <ng-container *isAuthorized="['FAQ_PUBLISH']" >
                  <button *ngIf="!row.published" (click)="publish(row.id)" type="button" class="btn btn-sm isv-btn-faq-list btn-deep-purple waves-light my-0" mdbRippleRadius mdbTooltip="Publish" placement="top">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button *ngIf="row.published" (click)="unpublish(row.id)" type="button" class="btn btn-sm isv-btn-faq-list btn-deep-purple waves-light my-0" mdbRippleRadius mdbTooltip="Unpublish" placement="top">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                  </button>
                </ng-container>
                <button *isAuthorized="['FAQ_EDIT']" (click)="edit(row.id)" type="button" class="btn btn-sm isv-btn-faq-list btn-amber waves-light my-0" mdbRippleRadius mdbTooltip="Edit" placement="top">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="showForm">
    <corelate-ui-faq-form [id]="selectedId" [modal]="modal" (onModalSave)="saveModal()" (onModalCancel)="cancelModal()"></corelate-ui-faq-form>
  </ng-container>
</div>
