<div class="corelate-ui-faq edit">
  <ng-container *ngIf="layout === BlockTemplate.ONE_COLUMN">
    <div class="container p-4">
      <div class="row px-4">
        <div class="col">
        </div>
        <div class="col-12 col-md-10">
          <ng-container *isAuthorized="['CMS_ADMIN','FAQ_EDIT']">
            <button *ngIf="isLoggedIn" (click)="faqModal.show()" type="button" class="btn btn-sm btn-amber waves-light black-text edit-btn" mdbRippleRadius><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
          </ng-container>
          <div class="isv-block-name row">
            <div class="col-12 text-center pb-4">
              <h4 class="h4-responsive grey-text text-uppercase"><strong>Frequently Asked Questions</strong></h4>
            </div>
          </div>
          <!--
          <div class="isv-block-lead row">
            <div class="col-12 text-center pb-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna.</p>
            </div>
          </div>
          -->
          <ng-container *ngIf="faqs.length !== 0">
            <div class="isv-block-faq row">
              <div class="col"></div>
              <div class="col-12 col-lg-10">
                <mdb-squeezebox [multiple]="false" aria-multiselectable="true" class="isv-faq__item">
                  <mdb-item  *ngFor="let faq of faqs">
                    <mdb-item-head>{{ faq.question }}</mdb-item-head>
                    <mdb-item-body><pre class="pl-2 pr-4 pre-content">{{ faq.answer }}</pre></mdb-item-body>
                  </mdb-item>
                </mdb-squeezebox>
              </div>
              <div class="col"></div>
            </div>
            <div class="isv-block-more row py-4">
              <div class="col-12 text-center">
                <button [routerLink]="['/frequently-asked-questions']" type="button" class="btn btn-lg btn-outline-primary waves-light" mdbRippleRadius>View More FAQ</button>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="loading">
            <div class="d-flex justify-content-center my-4 w-100">
              <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
            </div>
          </ng-container>
          <div class="isv-article-list__list col-12" *ngIf="!loading && faqs.length === 0">
            <div class="isv-article-list__no-posts row p-3">
              <div class="col-12 text-center p-4">
                <h3 class="h3-responsive grey-text"><em>No Inquiries Yet.</em></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-container *ngIf="layout === BlockTemplate.TWO_COLUMNS">
  <div class="corelate-ui-faq edit">
    <button *ngIf="isLoggedIn" (click)="faqModal.show()" type="button" class="btn btn-sm btn-amber waves-light black-text edit-btn" mdbRippleRadius><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
  </div>
  <div class="isv-block-name row">
      <div class="col-12 pb-4">
        <h4 class="h4-responsive grey-text text-uppercase"><strong>Frequently Asked Questions</strong></h4>
      </div>
    </div>
  <div class="isv-block-body row d-flex flex-grow">
    <!--
      <div class="isv-block-lead col-12 pb-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna.</p>
      </div>
    -->
    <ng-container *ngIf="faqs.length !== 0">
        <div class="isv-block-faq col-12">
          <mdb-squeezebox [multiple]="false" aria-multiselectable="true" class="isv-faq__item">
            <mdb-item  *ngFor="let faq of faqs">
              <mdb-item-head> {{ faq.question }}</mdb-item-head>
              <mdb-item-body><pre class="pl-2 pr-4 pre-content">{{ faq.answer }}</pre></mdb-item-body>
            </mdb-item>
          </mdb-squeezebox>
        </div>
    </ng-container>
    <ng-container *ngIf="loading">
      <div class="d-flex justify-content-center my-4 w-100">
        <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
      </div>
    </ng-container>
    <div class="isv-article-list__list col-12" *ngIf="!loading && faqs.length === 0">
      <div class="isv-article-list__no-posts row p-3">
        <div class="col-12 text-center p-4">
          <h3 class="h3-responsive grey-text"><em>No Inquiries Yet.</em></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="isv-block-more row py-4">
    <div class="col-12 text-center">
      <button [routerLink]="['/frequently-asked-questions']" type="button" class="btn btn-md btn-outline-primary waves-light" mdbRippleRadius>View More FAQ</button>
    </div>
  </div>
</ng-container>

<div
  mdbModal
  [config]="{backdrop: true, ignoreBackdropClick: true}"
  (onShown)="onShowModal()"
  (onHidden)="onHideModal()"
  #faqModal="mdb-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="faqModal"
  aria-hidden="true">

  <div class="modal-dialog modal-xl" role="document">
    <div class="card">
      <div class="card-body">
        <corelate-ui-faq-list [modal]="faqModal"></corelate-ui-faq-list>
      </div>
    </div>
  </div>
</div>
