<div class="main-list" id="main-list">
    <div class="list-subheader clearfix" style="margin-top: 0px">
        <div class="btn-group pull-right">
            <button class="btn" translate="IDM.USER-MGMT.CREATE-USER" ng-click="addUser()" ng-disabled="readOnly">&nbsp;</button>
        </div>
    </div>
    <div class="list-wrapper" auto-height>

        <div style="padding: 0 15px 15px 15px;">

            <h4>{{'IDM.USER-MGMT.EMAIL-OR-NAME' | translate}}</h4>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input type="text" ng-model="model.pendingFilterText" class="form-control" ng-change="refreshDelayed()">
            </div>

            <h4>{{'IDM.USER-MGMT.COMPANY' | translate}}</h4>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-briefcase"></i>
                </span>
                <input type="text" ng-model="model.pendingCompanyText" class="form-control" ng-change="refreshDelayed()">
            </div>

            <div ng-if="hasTenantManagementCapability()">
                <h4>{{'IDM.USER-MGMT.TENANT' | translate}}</h4>
                <div class="input-group" style="width: 100%">
                    <select ng-options="tenant.id as tenant.name for tenant in model.tenants"
                            class="form-control"
                            data-with="100%"
                            ng-model="common.selectedTenantId"
                            ng-change="refreshDelayed()">
                    </select>
                </div>
            </div>

            <h4>{{'IDM.USER-MGMT.STATUS' | translate}}</h4>
            <ul class="filter-list compact">
                <li ng-repeat="filter in model.statusFilters" ng-class="{'current' : filter.id == model.activeStatusFilter.id}">
                    <a ng-click="activateStatusFilter(filter)">{{filter.name}}</a>
                </li>
            </ul>

            <h4>{{'IDM.USER-MGMT.ACCOUNT' | translate}}</h4>
            <ul class="filter-list compact">
                <li ng-repeat="filter in model.typeFilters" ng-class="{'current' : filter.id == model.activeTypeFilter.id}">
                    <a ng-click="activateTypeFilter(filter)">{{filter.name}}</a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="main-content-wrapper">

    <div class="main-content" ng-show="!model.loadingTenant">

        <div class="header">

            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-disabled="model.selectedUserCount == 0 || readOnly">{{'IDM.USER-MGMT.ACTIONS' | translate}}</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="model.selectedUserCount == 0 || readOnly">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="editUserDetails()" ng-if="model.selectedUserCount == 1"><a href="">{{'IDM.USER-MGMT.EDIT-USER' | translate}}</a></li>
                        <li ng-click="editUserStatus()"><a href="">{{'IDM.USER-MGMT.CHANGE-STATUS' | translate}}</a></li>
                        <li ng-click="editUserAccountType()"><a href="">{{'IDM.USER-MGMT.CHANGE-ACCOUNT-TYPE' | translate}}</a></li>
                        <li ng-click="editUserTenant()" ng-if="hasTenantManagementCapability()"><a href="">{{'IDM.USER-MGMT.CHANGE-TENANT' | translate}}</a></li>
                        <li ng-click="editUserPassword()"><a href="">{{'IDM.USER-MGMT.CHANGE-PASSWORD' | translate}}</a></li>
                        <li ng-click="editUserPrimaryGroup()"><a href="">{{'IDM.USER-MGMT.CHANGE-PRIMARY-GROUP' | translate}}</a></li>
                    </ul>
                </div>

            </div>
            <div>
                <h2>{{'IDM.USER-MGMT.TITLE' | translate}}</h2>
                <div class="detail">

                    <table class="users-details">
                        <tr>
                            <td id="total-user-count" class="user-detail">
                                <span><i class="glyphicon glyphicon-user"></i>{{model.summary.totalUserCount | number}} {{'IDM.USER-MGMT.TOTAL-USERS' | translate}}</span>
                            </td>
                            <td id="inactive-user-count" class="user-detail">
                                <span><i class="glyphicon glyphicon-minus-sign user-inactive"></i>{{model.summary.statusCount.INACTIVE | number}} {{'IDM.USER-MGMT.INACTIVE-USERS' | translate}}</span>
                            </td>
                            <td id="enterprise-user-count" class="user-detail">
                                <span><i class="glyphicon glyphicon-user user-enterprise"></i>{{model.summary.accountTypeCounts.ENTERPRISE | number}} {{'IDM.USER-MGMT.ENTERPRISE-USERS' | translate}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td id="active-user-count" class="user-detail">
                                <span><i class="glyphicon glyphicon-ok-sign user-active"></i>{{model.summary.statusCount.ACTIVE | number}} {{'IDM.USER-MGMT.ACTIVE-USERS' | translate}}</span>
                            </td>
                            <td id="pending-user-count" class="user-detail">
                                <span><i class="glyphicon glyphicon-question-sign user-pending"></i>{{model.summary.statusCount.PENDING | number}} {{'IDM.USER-MGMT.PENDING-USERS' | translate}}</span>
                            </td>
                            <td id="trial-user-count" class="user-detail">
                                <span><i class="glyphicon glyphicon-user user-trial"></i>{{model.summary.accountTypeCounts.TRIAL | number}} {{'IDM.USER-MGMT.TRIAL-USERS' | translate}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-detail"></td>
                            <td class="user-detail" id="deleted-user-count">
                                <span><i class="glyphicon glyphicon-remove-sign user-deleted"></i>{{model.summary.statusCount.DELETED | number}} {{'IDM.USER-MGMT.DELETED-USERS' | translate}}</span>
                            </td>
                            <td class="user-detail"></td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>

        <div class="content" auto-height offset="6">
            <div style="margin-top: 10px;">
                <div class="dropdown-subtle pull-right">
                    <div class="btn-group btn-group-sm" style="margin-bottom: 5px;">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">{{'IDM.USER-MGMT.ORDER-BY' | translate}} {{model.activeSort.name}} <i class="caret"></i></button>
                        <ul class="dropdown-menu pull-right">
                            <li ng-repeat="sort in model.sorts">
                                <a ng-click="activateSort(sort)">{{sort.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="message clearfix">
                    <div ng-if="!model.loading">
								<span ng-if="model.users && model.users.data.length > 0">
                                    {{'IDM.USER-MGMT.MATCHING-USERS' | translate:model.users}}
									<a ng-click="showPreviousUsers()" ng-show="model.users.start > 0">&laquo; {{'IDM.USER-MGMT.SHOW-PREVIOUS' | translate}} {{model.users.size}}</a>
									<span ng-show="model.users.start > 0 && model.users.moreUsers">|</span>
									<a ng-click="showNextUsers()" ng-show="model.users.moreUsers">{{'IDM.USER-MGMT.SHOW-NEXT' | translate}} {{model.users.size}} &raquo;</a>
								</span>
                        <span ng-if="!model.users || model.users.total == 0">{{'IDM.USER-MGMT.NO-MATCHING-USERS' | translate}}</span>
                    </div>

                    <table width="100%" class="users" ng-if="model.users && model.users.data.length > 0">
                        <tr>
                            <th width="4%"></th>
                            <th width="6%">{{'IDM.USER-MGMT.STATUS' | translate}}</th>
                            <th width="20%">{{'IDM.USER-MGMT.EMAIL' | translate}}</th>
                            <th width="15%">{{'IDM.USER-MGMT.NAME' | translate}}</th>
                            <th width="15%">{{'IDM.USER-MGMT.CREATED' | translate}}</th>
                            <th width="10%">{{'IDM.USER-MGMT.TYPE' | translate}}</th>
                            <th width="15%">{{'IDM.USER-MGMT.EXTERNAL-ID' | translate}}</th>
                            <th width="15%">{{'IDM.USER-MGMT.PRIMARY-GROUP' | translate}}</th>
                        </tr>
                        <tr ng-repeat="user in model.users.data" ng-click="toggleUserSelection(user)" ng-class="{'selected': model.selectedUsers[user.id]}">
                            <td class="control"><input type="checkbox" ng-checked="model.selectedUsers[user.id]"></td>
                            <td>{{user.status}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.fullname}}</td>
                            <td>{{user.created | dateformat}}</td>
                            <td>{{user.type}}</td>
                            <td>{{user.externalId}}</td>
                            <td>{{user.primaryGroup.name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
