<div class="subheader editor-toolbar" id="editor-header">
    <div class="fixed-container">
        <div class="btn-group">
            <div class="btn-toolbar pull-left" ng-controller="FormToolbarController" ng-cloak>
                <button id="{{item.id}}"
                        title="{{item.title | translate}}"
                        ng-repeat="item in items"
                        ng-switch on="item.type"
                        class="btn btn-inverse" ng-class="{'separator': item.type == 'separator'}"
                        ng-disabled="item.type == 'separator' || item.enabled == false"
                        ng-click="toolbarButtonClicked($index)">
                    <i ng-switch-when="button" ng-class="item.cssClass" class="toolbar-button" data-toggle="tooltip"
                       title="{{item.title | translate}}"></i>

                    <div ng-switch-when="separator" ng-class="item.cssClass"></div>
                </button>
            </div>
        </div>
        <div class="btn-group pull-right" ng-show="!secondaryItems.length">
            <div class="btn-toolbar pull-right" ng-controller="FormToolbarController">
                <button title="{{item.title | translate}}" ng-repeat="item in secondaryItems track by $index"
                        ng-switch on="item.type" class="btn btn-inverse"
                        ng-class="{'separator': item.type == 'separator'}"
                        ng-disabled="item.type == 'separator'" ng-click="toolbarSecondaryButtonClicked($index)"
                        id="{{item.id}}">
                    <i ng-switch-when="button" ng-class="item.cssClass" class="toolbar-button" data-toggle="tooltip"
                       title="{{item.title | translate}}"></i>

                    <div ng-switch-when="separator" ng-class="item.cssClass"></div>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="inset fixed-container form-palette" ng-mousedown="cancelEditing($event)">
    <div class="col-sm-2" auto-height style="overflow: auto;">
        <ul style="font-family: Arial, Regular;font-size: 17px;color: #323437;list-style: none;padding:0;">
            <li class="stencil-item" ng-if="!palletteElement.hideFromPalette" 
                ng-repeat="palletteElement in palletteElements"
                class="palette-entry"
                ng-model="draggedElement"
                id="{{palletteElement.type}}"
                title="{{palletteElement.title | translate}}"
                dnd-draggable="palletteElement"
                dnd-type="'width-' + palletteElement.width">
                
                <stencil-form-field-icon stencil-item="palletteElement"></stencil-form-field-icon>
                {{palletteElement.title | translate}}
            </li>
        </ul>
    </div>
    <div class="col-sm-10" style="height:100%; overflow: auto;">
        <div class="center-pane">
            <div class="content padding-bottom-tabs">
                <div class="header clearfix">
                    <h2>{{currentForm.name}}</h2>

                    <div class="pull-left badge-wrapper">
                        <span class="badge">{{'FORM-BUILDER.VERSION' | translate:currentForm}}</span>
                        <span>&nbsp;&nbsp;{{'FORM-BUILDER.LAST-UPDATED' | translate:currentForm}}</span>
                    </div>
                </div>
                <div class="row tabs-wrapper">
                    <div class="col-xs-6">
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="formBuilder.activeTab = 'design'" ng-model="formBuilder.activeTab" ng-class="{'active' : formBuilder.activeTab === 'design'}">{{'FORM-BUILDER.TITLE.DESIGN' | translate}}</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="formBuilder.activeTab = 'tab'" ng-model="formBuilder.activeTab" ng-class="{'active' : formBuilder.activeTab === 'tab'}">Tabs</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="formBuilder.activeTab = 'outcome'" ng-model="formBuilder.activeTab" ng-class="{'active' : activeChoice.condition.fieldType == 'outcome'}">{{'FORM-BUILDER.TITLE.OUTCOME' | translate}}</button>
                            </div>
                            <div class="btn-group" ng-if="!javascriptEventsDisabled">
                                <button type="button" class="btn btn-default" ng-click="formBuilder.activeTab = 'javascript'" ng-model="formBuilder.activeTab" ng-class="{'active' : formBuilder.activeTab == 'javascript'}">{{'FORM-BUILDER.TITLE.JAVASCRIPT' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div ng-show="formBuilder.activeTab === 'design'">    
                    <div class="form-center-pane" ng-if="formTabs && formTabs.length > 0">
                        <div class="content">
                           <div class="clearfix">
                               <ul class="tabs clearfix">
                                   <li ng-repeat="tab in formTabs" ng-class="{'active': tab.id == activeFormTab.id}">
                                       <a ng-click="formTabClicked(tab)">{{tab.title && (tab.title | translate) || tab.name | translate}}</a>
                                   </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div id="canvasSection" class="content-canvas-wrapper"
                         ng-show="formBuilder.activeTab == 'design'"
                         ng-class="{'editing': editState.editing}">
    
                        <ul style="min-height:400px; width: 100%"
                            class="form-canvas content-canvas"
                            dnd-list="currentFormItems"
                            dnd-allowed-types="['width-1', 'width-2']"
                            dnd-drop="onFieldDrop(item, currentFormItems, event,index)"
                            dnd-after-drop="afterDropField(item,currentFormItems,event)">
                            <li ng-if="(!activeFormTab || !activeFormTab.id) || (activeFormTab && activeFormTab.id && activeFormTab.id === field.tab)" 
                                ng-repeat="field in currentFormItems track by field._guid" class="form-field-wrapper"
                                dnd-draggable="field"
                                dnd-effect-allowed="move"
                                dnd-type="'width-' + field._width"
                                dnd-moved="onFieldMoved(field, currentFormItems)">
                                <div id="{{field._guid}}" form-builder-element form-element="field" stencil-set="stencilSet" edit-state="editState"
                                      drop="onFieldDrop(item, list, event, index)" moved="onFieldMoved(item, list)" file-source-options="fileSourceOptions">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div ng-if="formBuilder.activeTab === 'tab'">
                    <div class="center-pane">
                        <div class="content">
                           <div class="clearfix">
                               <ul class="tabs clearfix">
                                   <li ng-repeat="tab in formTabs" ng-class="{'active': tab.id == activeFormTab.id}">
                                       <a ng-click="formTabClicked(tab)">{{tab.title | translate}}</a>
                                   </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="tabName">{{'STENCILS.ITEM.TAB.NAME' | translate}}</label>
                                    <input id="tabName" type="text" class="form-control" ng-model="activeFormTab.title" ng-disabled="!activeFormTab || !activeFormTab.id">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default btn-lg" ng-click="moveTab('left')" ng-disabled="!canMoveTab('left')">
                                        <span class="glyphicon glyphicon-arrow-left stencil-info-item-icon"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-lg" ng-click="moveTab('right')" ng-disabled="!canMoveTab('right')">
                                        <span class="glyphicon glyphicon-arrow-right stencil-info-item-icon" ></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-lg" ng-click="deleteTab()" ng-disabled="!canDeleteTab()">
                                        <span class="glyphicon glyphicon-remove stencil-info-item-icon" ></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row item-wrapper stencil-info-container" style="margin-bottom: 20px">
                        <div ng-show="!status.loading">
                        
                            <div class="stencil-info-actions">
                                <div>
                                    <a ng-click="addNewFormTab()"><i class="glyphicon glyphicon-plus"></i>{{'STENCILS.ACTION.ADD-TAB' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div ng-if="activeFormTab && activeFormTab.id" ng-controller="TabVisibilityConditionBuilderController">
                        <label>{{'FORM-BUILDER.VISIBILITY.TITLE' | translate}}</label>
                        <div class="row row-no-gutter">
                            <div class="col-xs-6">
                                <div class="kis-listener-grid" ui-grid="visibilityGridOptions" ui-grid-selection></div>
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{ACTION.MOVE.UP | translate}}" ng-disabled="!model.selectedVisibilityCondition"
                                           data-placement="bottom" data-original-title="" title=""
                                           ng-click="moveConditionUp()"><i class="glyphicon glyphicon-arrow-up"></i></a>
                                        <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{ACTION.MOVE.DOWN | translate}}"
                                           ng-disabled="!model.selectedVisibilityCondition"
                                           data-placement="bottom" data-original-title="" title=""
                                           ng-click="moveConditionDown()"><i class="glyphicon glyphicon-arrow-down"></i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{ACTION.ADD | translate}}" data-placement="bottom" data-original-title=""
                                           title=""
                                           ng-click="addNewCondition()"><i class="glyphicon glyphicon-plus"></i></a>
                                        <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{ACTION.REMOVE | translate}}" ng-disabled="!model.selectedVisibilityCondition"
                                           data-placement="bottom" data-original-title="" title=""
                                           ng-click="removeCondition()"><i class="glyphicon glyphicon-minus"></i></a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-xs-6">
                                <div ng-if="model.selectedVisibilityCondition">
                                    <div>
                                        <label>{{'FORM-BUILDER.VISIBILITY.LEFT-FORM-FIELD' | translate}}</label>
                                        <div class="form-group btn-group btn-group-justified">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default" ng-click="setLeftFieldType('formField')" ng-model="model.leftFieldType"
                                                    ng-class="{'active' : model.leftFieldType == 'formField'}">{{'FORM-BUILDER.VISIBILITY.RIGHT-FORM-FIELD' | translate}}
                                                </button>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default" ng-click="setLeftFieldType('restResponse')" ng-model="model.leftFieldType"
                                                    ng-class="{'active' : model.leftFieldType == 'restResponse'}">{{'FORM-BUILDER.VISIBILITY.RESPONSE-VARIABLE' | translate}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="model.leftFieldType === 'formField'">
                                        <div id="leftVariableField" variables-select include-type="true" expand-relative="true"
                                            target-model="model.selectedVisibilityCondition.leftFormFieldId"
                                            select-title="'FORM-BUILDER.MESSAGE.READONLY-TEXT-INSERT-FIELD'" fields="model.conditionFields"
                                            selected-field="model.selectedLeftVariable"></div>
                                    </div>
                                    <div class="form-group" ng-show="model.leftFieldType === 'restResponse'" style="margin-top: 10px;">
                                        <div class="btn-group span" activiti-fix-dropdown-bug>
                                            <button class="selection" data-toggle="dropdown">
                                                <span ng-if="model.selectedVisibilityCondition.leftRestResponseId">{{model.selectedVisibilityCondition.leftRestResponseId}}</span>
                                                <span ng-if="!model.selectedVisibilityCondition.leftRestResponseId">{{'PROCESS-BUILDER.CHOICE-STEP.CONDITION.SELECT-REST-RESPONSE-VARIABLE' | translate}}</span>
                                                <i class="icon icon-caret-down"></i>
                                            </button>
                                            <ul class="dropdown-menu large-width">
                                                <li ng-repeat="variable in getRestResponseVariables()">
                                                    <a ng-click="selectLeftResponseVariable(model.selectedVisibilityCondition, variable)">{{variable.processVariableName}}</a>
                                                </li>
                                                <li ng-if="!getRestResponseVariables() || getRestResponseVariables().length == 0">
                                                    <a>{{'PROCESS-BUILDER.CHOICE-STEP.CONDITION.NO-REST-RESPONSE-VARIABLE-AVAILABLE' | translate}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="operatorField">{{'FORM-BUILDER.VISIBILITY.OPERATOR' | translate}}</label>
                                        <select id="operatorField" class="form-control"
                                            ng-options="operator.value as operator.description for operator in getConditionsForFieldId(model.selectedVisibilityCondition.leftFormFieldId, model.selectedVisibilityCondition.leftRestResponseId)"
                                            ng-model="model.selectedVisibilityCondition.operator">
                                        </select>
                                    </div>
                                    <div class="form-group btn-group btn-group-justified">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default" ng-click="setRightFieldType('staticValue')" ng-model="model.rightFieldType"
                                                ng-class="{'active' : model.rightFieldType == 'staticValue'}">{{'FORM-BUILDER.VISIBILITY.RIGHT-VALUE' | translate}}
                                            </button>
                                        </div>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default" ng-click="setRightFieldType('formField')" ng-model="model.rightFieldType"
                                                ng-class="{'active' : model.rightFieldType == 'formField'}">{{'FORM-BUILDER.VISIBILITY.RIGHT-FORM-FIELD' | translate}}
                                            </button>
                                        </div>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default" ng-click="setRightFieldType('restResponse')" ng-model="model.rightFieldType"
                                                ng-class="{'active' : model.rightFieldType == 'restResponse'}">{{'FORM-BUILDER.VISIBILITY.RESPONSE-VARIABLE' | translate}}
                                            </button>
                                        </div>

                                    </div>

                                    <div class="form-group" ng-show="model.rightFieldType === 'formField'">
                                        <div id="rightVariableField" variables-select include-type="true" expand-relative="true"
                                            target-model="model.selectedVisibilityCondition.rightFormFieldId"
                                            select-title="'FORM-BUILDER.MESSAGE.READONLY-TEXT-INSERT-FIELD'" fields="model.conditionFields"
                                            selected-field="model.selectedRightVariable"></div>
                                    </div>
                                    <div class="form-group" ng-show="model.rightFieldType === 'restResponse'" style="margin-top: 10px;">
                                        <div class="btn-group span" activiti-fix-dropdown-bug>
                                            <button class="selection" data-toggle="dropdown">
                                                <span ng-if="model.selectedVisibilityCondition.rightRestResponseId">{{model.selectedVisibilityCondition.rightRestResponseId}}</span>
                                                <span ng-if="!model.selectedVisibilityCondition.rightRestResponseId">{{'PROCESS-BUILDER.CHOICE-STEP.CONDITION.SELECT-REST-RESPONSE-VARIABLE' | translate}}</span>
                                                <i class="icon icon-caret-down"></i>
                                            </button>
                                            <ul class="dropdown-menu large-width">
                                                <li ng-repeat="variable in getRestResponseVariables()">
                                                    <a ng-click="selectRightResponseVariable(model.selectedVisibilityCondition, variable)">{{variable.processVariableName}}</a>
                                                </li>
                                                <li ng-if="!getRestResponseVariables() || getRestResponseVariables().length == 0">
                                                    <a>{{'PROCESS-BUILDER.CHOICE-STEP.CONDITION.NO-REST-RESPONSE-VARIABLE-AVAILABLE' | translate}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="model.rightFieldType === 'staticValue'" style="margin-top: 10px;">
                                        <div ng-switch="model.selectedLeftVariable.type">
                                            <div ng-switch-when="text">
                                                <input type="text" id="rightValueField" class="form-control" ng-model="model.selectedVisibilityCondition.rightValue"
                                                   ng-disabled="(model.selectedVisibilityCondition.rightFormFieldId)"/>
                                            </div>
                                            <div ng-switch-when="integer">
                                                <input type="number" id="rightValueField" class="form-control" ng-model="model.selectedVisibilityCondition.rightValue"
                                                   ng-disabled="(model.selectedVisibilityCondition.rightFormFieldId)"/>
                                            </div>
                                            <div ng-switch-when="amount">
                                                <input type="number" step="0.01" id="rightValueField" class="form-control" ng-model="model.selectedVisibilityCondition.rightValue"
                                                   ng-disabled="(model.selectedVisibilityCondition.rightFormFieldId)"/>
                                            </div>
                                            <div ng-switch-when="boolean">
                                                <select id="rightValueField" class="form-control" ng-model="model.selectedVisibilityCondition.rightValue"
                                                    ng-disabled="(model.selectedVisibilityCondition.rightFormFieldId)"
                                                    ng-options="option.value as option.description for option in model.rightValueOptions.boolean">
                                                </select>
                                            </div>
                                            <div ng-switch-when="date">
                                                <input id="rightValueField" name="rightValueField" type="text" class="form-control" placeholder="{{'FORM-BUILDER.VISIBILITY.RIGHT_VALUE_DATE.DATE-FORMAT-MESSAGE' | translate}}" ng-model="model.selectedVisibilityCondition.rightValue"
                                                   bs-datepicker template="{{appResourceRoot}}views/templates/visibility-date-picker-template.html"
                                                   data-date-format="d-M-yyyy" data-date-type="iso" trigger="focus" autoclose="true" ng-disabled="(model.selectedVisibilityCondition.rightFormFieldId)">

                                            </div>
                                            <div ng-switch-default>
                                                <input type="text" id="rightValueField" class="form-control" ng-model="model.selectedVisibilityCondition.rightValue"
                                                   ng-disabled="(model.selectedVisibilityCondition.rightFormFieldId)"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nextConditionOperatorField">{{'FORM-BUILDER.VISIBILITY.NEXT-CONDITION-OPERATOR' | translate}}</label>
                                        <select id="nextConditionOperatorField" class="form-control"
                                            ng-options="operator.value as operator.description for operator in model.conditionOperatorsByType.condition.operators"
                                            ng-model="model.selectedVisibilityCondition.nextConditionOperator">
                                                <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-if="!model.selectedVisibilityCondition" class="muted no-property-selected" translate>FORM-BUILDER.COMPONENT.PROPERTY-UNSELECTED</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="formBuilder.activeTab === 'outcome'" class="detail-wrapper">
                    <div class="well">
                        <p>{{'FORM-BUILDER.OUTCOMES.DESCRIPTION' | translate}}</p>
    
                        <div class="radio">
                            <label>
                                <input type="radio" name="outcome" ng-value="false" ng-model="model.useOutcomes">
                                {{'FORM-BUILDER.OUTCOMES.NO-OUTCOMES-OPTION' | translate}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="outcome" ng-value="true" ng-model="model.useOutcomes">
                                {{'FORM-BUILDER.OUTCOMES.OUTCOMES-OPTION' | translate}}
                            </label>
                        </div>
                    </div>
                    <div ng-if="model.useOutcomes">
                        <h4>{{'FORM-BUILDER.OUTCOMES.POSSIBLE-OUTCOMES' | translate}}</h4>
    
                        <div class="clearfix" ng-repeat="outcome in currentOutcomes track by $index"
                             style="margin-bottom:5px">
                            <div class="col-xs-4">
                                <input type="text" class="form-control"
                                       placeholder="{{'FORM-BUILDER.OUTCOMES.NEW-OUTCOME-PLACEHOLDER' | translate}}"
                                       ng-model="outcome.name">
                            </div>
                            <div class="btn-group pull-left">
                                <button ng-show="$index > 0" class="btn btn-default"
                                        ng-click="removeOutcome($index)">{{'FORM-BUILDER.OUTCOMES.REMOVE' | translate}}
                                </button>
                                
                                <button ng-show="($index + 1) === currentOutcomes.length"
                                        class="btn btn-default" ng-click="addOutcome()">
                                    {{'FORM-BUILDER.OUTCOMES.ADD' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="formBuilder.activeTab === 'javascript'" ng-controller="TabCustomJavascriptController" class="detail-wrapper">
                    <div class="row">
                        <div class="col-xs-6">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <label>{{'FORM-BUILDER.JAVASCRIPT.TITLE' | translate}}</label>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="kis-listener-grid" ui-grid="javascriptGridOptions" ui-grid-selection ui-grid-auto-resize></div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{ACTION.ADD | translate}}" data-placement="bottom" data-original-title="" title=""
                                       ng-click="addNewJavascriptEvent()"><i class="glyphicon glyphicon-plus"></i></a>
                                    <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{ACTION.REMOVE | translate}}" ng-disabled="!model.selectedJavascriptEvent"
                                       data-placement="bottom" data-original-title="" title=""
                                       ng-click="removeJavascriptEvent()"><i class="glyphicon glyphicon-minus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div ng-if="model.selectedJavascriptEvent">
                                <div class="form-group">
                                    <label for="eventField">{{'FORM-BUILDER.JAVASCRIPT.EVENT' | translate}}</label>
                                    <select id="eventField" class="form-control" ng-model="model.selectedJavascriptEvent.event">
                                        <option>formRendered</option>
                                        <option>formFieldValueChanged</option>
                                        <option>formFieldFocus</option>
                                        <option>formFieldBlur</option>
                                        <option>formFieldPersonSelected</option>
                                        <option>formFieldPersonEmailSelected</option>
                                        <option>formFieldPersonRemoved</option>
                                        <option>formFieldGroupSelected</option>
                                        <option>formFieldGroupRemoved</option>
                                        <option>formFieldContentUploaded</option>
                                        <option>formFieldContentRemoved</option>
                                        <option>formFieldRestValuesSet</option>
                                        <option>formBeforeComplete</option>
                                        <option>formTableFieldValueChanged</option>
                                        <option>formTableFieldFocus</option>
                                        <option>formTableFieldBlur</option>
                                        <option>formTableFieldRestValuesSet</option>
                                        <option>formTableRendered</option>
                                        <option>formTableBeforeComplete</option>
                                        <option>formTableBeforeCancel</option>
                                        <option>formValidateField</option>
                                        <option>formValidateFieldValueChanged</option>
                                        <option>formValidateBeforeSubmit</option>
                                        <option>formTableValidateField</option>
                                        <option>formTableValidateFieldValueChanged</option>
                                        <option>formTableValidateBeforeComplete</option>
                                        <option>taskCompleted</option>
                                        <option>taskCompletedError</option>
                                        <option>taskBeforeSaved</option>
                                        <option>taskSaved</option>
                                        <option>taskSavedError</option>
                                        <option>formTabActivated</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-if="model.selectedJavascriptEvent.event">
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formRendered'">function(form, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldValueChanged'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldFocus'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldBlur'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldPersonSelected'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldPersonEmailSelected'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldPersonRemoved'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldGroupSelected'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldGroupRemoved'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldContentUploaded'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldContentRemoved'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formFieldRestValuesSet'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formBeforeComplete'">function(form, outcome, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTableFieldValueChanged'">function(form, field, columnDefinition, editRow, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTableFieldFocus'">function(form, field, columnDefinition, editRow, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTableFieldBlur'">function(form, field, columnDefinition, editRow, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTableFieldRestValuesSet'">function(form, field, columnDefinition, editRow, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTableRendered'">function(form, field, columnDefinition, editRow, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTableBeforeComplete'">function(form, field, editRow, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTableBeforeCancel'">function(form, field, editRow, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formValidateField'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formValidateFieldValueChanged'">function(form, field, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formValidateBeforeSubmit'">function(form, outcome, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTableValidateField'">function(form, field, columnDefinition, editRow, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTableValidateFieldValueChanged'">function(form, field, columnDefinition, editRow, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTableValidateBeforeComplete'">function(form, field, editRow, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'taskCompleted'">function(taskId, form, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'taskCompletedError'">function(taskId, errorResponse, form, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'taskBeforeSaved'">function(taskId, form, data, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'taskSaved'">function(taskId, form, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'taskSavedError'">function(taskId, errorResponse, form, scope) {</label>
                                    <label ng-if="model.selectedJavascriptEvent.event === 'formTabActivated'">function(form, tab, scope) {</label>
                                </div>
                                <div class="form-group" ng-if="model.selectedJavascriptEvent.event">
                                    <div ui-ace="{mode: 'javascript'}" ng-model="model.selectedJavascriptEvent.javascriptLogic" style="height: 400px;border:1px solid lightgray;"></div>
                                </div>
                            </div>
                            <div ng-if="!model.selectedJavascriptEvent" class="muted no-property-selected" translate>FORM-BUILDER.COMPONENT.PROPERTY-UNSELECTED</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

