.general-content__details {
  color: #000;
}

.general-content__list {
  list-style-type: none;
}

.isv-block-article {
  .article-img {
    max-height: 200px;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-height: 100%;
      width: 100%;
    }
  }

  .title {
    overflow: hidden;
    position: relative;
    max-height: 3.3em;
    margin-right: .7em;

    @media (min-width: 768px) {
      margin-right: 1em;
    }
    @media (min-width: 1024px) {
      margin-right: 1.5em;
    }
    @media (min-width: 1440px) {
      margin-right: 1em;
    }

    :before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    :after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 3.3em;
      margin-top: 0.2em;
      background: #fff;
    }
  }

  .excerpt {
    overflow: hidden;
    position: relative;
    max-height: 5.2em;
    margin-right: 1.5em;

    @media (min-width: 375px) {
      margin-right: 1em;
    }
    @media (min-width: 768px) {
      margin-right: 1.5em;
    }
    @media (min-width: 1024px) {
      margin-right: 3em;
    }
    @media (min-width: 1440px) {
      margin-right: 2.5em;
    }

    :before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    :after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 5em;
      margin-top: 0.2em;
      background: #fff;
    }
  }
}

.isv-block-article-item {
  .article-img {
    max-height: 200px;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-height: 100%;
      width: 100%;
    }
  }

  .title {
    overflow: hidden;
    position: relative;
    max-height: 3.2em;
    margin-right: .5em;

    @media (min-width: 768px) {
      margin-right: .7em;
    }
    @media (min-width: 1024px) {
      margin-right: 1em;
    }
    @media (min-width: 1440px) {
      margin-right: 1em;
    }

    :before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    :after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 100%;
      background: #fff;
    }
  }

  .excerpt {
    overflow: hidden;
    position: relative;
    max-height: 5.2em;
    margin-right: .7em;

    @media (min-width: 375px) {
      margin-right: 1em;
    }
    @media (min-width: 1024px) {
      margin-right: 1.3em;
    }
    @media (min-width: 1440px) {
      margin-right: 1.8em;
    }

    :before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    :after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 5em;
      margin-top: 0.2em;
      background: #fff;
    }
  }
}

