
<header id="top-section" class="w-100">
  <corelate-ui-header></corelate-ui-header>
</header>

<main>
  <div class="isv-error container p-4">
    <div class="row p-4">
      <div class="col">
      </div>
      <div class="col-12 col-md-10 pt-4">
        <div class="isv-error__title row pt-4">
          <div class="col-12 pb-4">
            <h1 class="h1-responsive"><strong>Error: {{ errorCode }}</strong></h1>
            <h3 class="h3-responsive">Uh Oh...</h3>
          </div>
        </div>
        <div class="isv-error__lead row">
          <div class="col-12 pb-4">
            <p>Sorry! Dunno what went wrong. Go back to the <a routerLink="/" class="blue-text">Main Page</a>.</p>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</main>

<footer class="mt-auto w-100">
  <corelate-ui-footer></corelate-ui-footer>
</footer>
