<div class="col-xs-12">
	<div class="col-xs-4">
		<label translate="PROCESS-BUILDER.GENERATE-DOC-STEP.LABELS.OUTPUT-FORMAT"></label>
	</div>
	<div class="col-xs-8">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button
					ng-class="{'active' : (!step.outputFormat || step.outputFormat == 'pdf')}"
					ng-model="step.outputFormat"
					class="btn btn-default"
					ng-click="step.outputFormat = 'pdf'"
					type="button" translate="PROCESS-BUILDER.GENERATE-DOC-STEP.LABELS.OUTPUT-FORMAT-PDF"></button>
			</div>
			<div class="btn-group">
				<button
					ng-class="{'active' : step.outputFormat == 'word'}"
					ng-model="step.outputFormat"
					class="btn btn-default"
					ng-click="step.outputFormat = 'word'"
					type="button" translate="PROCESS-BUILDER.GENERATE-DOC-STEP.LABELS.OUTPUT-FORMAT-WORD"></button>
			</div>
		</div>
	</div>
</div>