.ha-l {
  text-align: left;
}

.ha-m {
  text-align: middle;
}

.ha-r {
  text-align: right;
}

.va-t {
  vertical-align: top;
}

.va-m {
  vertical-align: middle;
}

.va-r {
  vertical-align: right;
}
