
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog wide google-drive-browse">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h3 class="modal-title">{{'INTEGRATION.GOOGLE.MESSAGE.TITLE' | translate}}</h3>
                <div class="summary">
                    <span ng-if="!folderSelect">
                        {{'INTEGRATION.GOOGLE.MESSAGE.SELECT-FILE-DESCRIPTION' | translate}}
                    </span>
                    <span ng-if="folderSelect">
                        {{'INTEGRATION.GOOGLE.MESSAGE.SELECT-FOLDER-DESCRIPTION' | translate}}
                    </span>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>{{'INTEGRATION.GOOGLE.MESSAGE.FILTER' | translate}}: </label>
                    <input type="text" class="form-control" delayed-model="filter" auto-focus="filter">
                </div>
                <div class="crumbs" ng-if="!contentSource || (contentSource && !contentSource.notAllowNavigateFolders)">
                    <span>{{'INTEGRATION.GOOGLE.MESSAGE.SEARCHING' | translate}}:</span>
                    <span class="crumb" ng-click="navigateToGoogleDriveRoot()">Google Drive </span>
                    <span class="crumb" ng-repeat="folder in currentFolderTree" ng-click="navigateToGoogleDriveFolder($index)">
                        <i class="icon icon-caret-right"></i>
                            {{folder.title}}
                    </span>
                </div>
                <ul class="simple-list selection selectable">
                    <div loading="contentAccounts['google-drive'].loading"></div>
                    <li class="nothing-to-see" ng-show="(googleDriveFiles.data | filter: filterNavigableContent) == 0">
                        <span>{{'INTEGRATION.GOOGLE.MESSAGE.NO-CONTENT' | translate}}</span>
                    </li>
                    <li ng-click="googleDriveContentSelected(content)" ng-repeat="content in googleDriveFiles.data | filter: filterNavigableContent" class="truncate">
                        <span><i class="icon icon-{{content.simpleType}}" ng-if="content.simpleType"></i> {{content.title}}</span>
                        <i class="icon icon-caret-right" ng-show="content.folder"></i>
                    </li>
                </ul>
            </div>
            <div class="modal-footer" ng-if="folderSelect">
                <div class="btn-group pull-right">
                    <button class="btn" ng-click="confirmFolderSelection()">
                        {{currentFolderTree.length && ( ('INTEGRATION.GOOGLE.MESSAGE.SELECT-FOLDER' | translate) + ': ' +
                        (currentFolderTree.length>0?currentFolderTree[currentFolderTree.length - 1].title:'/'))
                        || ('INTEGRATION.GOOGLE.MESSAGE.SELECT-FOLDER' | translate) + '...'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>