<div class="content-layout">
	<div id="main" class="content-layout-card container-login">
		<form>
			<div class="content-form">
				<div class="content-form__logo">
					<img class="center" src="images/alfresco-logo.svg" alt="Alfresco">
				</div>
				<div>
					<h3 class="center logo-title">Alfresco Process Services</h3>
					<h5 class="logo-subtitle">powered by Activiti</h5>
				</div>
				<div class="login-invalid-credentials">
					<p ng-if="model.hasErrors" class="login-error" translate="LOGIN.INVALID-CREDENTIALS"></p>
				</div>
				<legend class="hidden" translate="LOGIN.LOGIN-FORM"></legend>
				<div class="form-fields">
					<label class="mdl-textfield__label" for="username">{{'LOGIN.USERNAME' | translate}}</label>
					<input type="text" id="username"
						   placeholder="{{'LOGIN.USERNAME' | translate}}"
						   ng-model="model.username">
				</div>
				<div class="form-fields login-dialog__password">
					<i ng-click="togglePassword()" ng-if="!isActivePassword()" class="login-dialog__password-icon">
						<svg  class="icon-show" viewBox="0 0 24 24">
							<path d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" fill="#000000"></path>
						</svg>
					</i>
					<i ng-click="togglePassword()" ng-if="isActivePassword()" class="login-dialog__password-icon">
						<svg  class="icon-show" viewBox="0 0 24 24">
							<path _ngcontent-gyw-41="" d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" fill="#000000"></path></path>
						</svg>
					</i>
					<label class="mdl-textfield__label login-dialog__password-label" for="password">{{'LOGIN.PASSWORD' | translate}}</label>
					<input type="{{getPasswordType()}}" id="password" class="login-dialog__password-input"
						   placeholder="{{'LOGIN.PASSWORD' | translate}}"
						   ng-model="model.password">
				</div>
				<div class="btn-holder">
					<button id="login" type="submit" value="Login" ng-click="login()"
							ng-disabled="model.loading" class="btn btn-success btn-signin"
							accesskey="3" tabindex="3">{{'LOGIN.ACTION.CONFIRM' | translate}}</button>
				</div>
                <div ng-if="ssoEnabled" class="btn-holder" style="padding-top: 20px; text-align: center; color: #36a7c4">
                    <a href="sso/loginsso" translate="LOGIN.SSO">
                        Login With SSO
                    </a>
                </div>
				<div class="login-onpremise">
					<p ng-if="!config.onPremise" class="subtle">
						<a href="{{signupUrl()}}" translate="LOGIN.NO-ACCOUNT"></a>
					</p>
					<p ng-if="!config.onPremise" class="subtle">
						<a href="#/reset-password" translate="LOGIN.FORGOT-PASSWORD"></a>
					</p>
				</div>
			</div>
		</form>
	</div>
	<footer class="footer text-center login-rights">
		<p>
			<span translate="GENERAL.ABOUT.COPYRIGHT"></span> <span class="login-onpremise-link" ng-if="!config.onPremise"> - <a href="https://www.alfresco.com/legal/agreements/cloud" target="_blank" translate="LOGIN.PRIVACY"></a></span>
		</p>
		<div class="login-make-business">
			<img alt="Make business flow" src="images/alfresco-tagline-white.svg">
		</div>
	</footer>
</div>
