
<div class="container full">
    <div class="row">
        <div class="col-xs-4">&nbsp;</div>
        <div class="col-xs-4">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="simple-content-wrapper">
                <h2>{{'ACCOUNT.RESET-PASSWORD.TITLE' | translate}}</h2>
                <div class="pull-left loading" ng-show="model.loading && !model.validToken">
                    <div class="l1"></div><div class="l2"></div><div class="l2"></div>
                </div>
                <p ng-show="model.loading && !model.validToken">
                    <span class="loading-text">{{'ACCOUNT.RESET-PASSWORD.LOADING' | translate}}</span>
                </p>
                <div class="alert" ng-show="model.success && !model.loading">
                   <i class="glyphicon glyphicon-ok"></i>
                   <span translate="ACCOUNT.RESET-PASSWORD.SUCCESS-MESSAGE"></span>
                </div>
                <div class="alert error" ng-show="!model.validToken && !model.loading">
                   <i class="glyphicon glyphicon-remove"></i>
                   <span translate="ACCOUNT.RESET-PASSWORD.FAILURE-MESSAGE"></span>
                </div>
                <form class="form clearfix" role="form" ng-show="model.validToken && !model.success">
                    <div class="form-group">
                        <label for="password" translate="ACCOUNT.RESET-PASSWORD.PASSWORD"></label>
                        <input type="password" class="form-control" id="password" placeholder="{{'ACCOUNT.RESET-PASSWORD.PASSWORD-PLACEHOLDER' | translate}}" ng-model="model.password" ng-disabled="model.loading">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" translate="ACCOUNT.RESET-PASSWORD.PASSWORD-CONFIRM"></label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="{{'ACCOUNT.RESET-PASSWORD.PASSWORD-CONFIRM-PLACEHOLDER' | translate}}" ng-model="model.confirmPassword" ng-disabled="model.loading">
                    </div>
                    <div class="alert error" ng-show="!model.loading && passwordsNotMatching()">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>{{'ACCOUNT.SIGNUP.PASSWORDS-NOT-EQUAL' | translate}}</span>
                    </div>
                    <div class="alert error" ng-show="!model.loading && passwordsInvalidMinLength()">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>{{'ACCOUNT.SIGNUP.PASSWORDS-MIN-LENGTH' | translate : {minLength:model.passwordMinLength} }}</span>
                    </div>
                    <div class="btn-group pull-right">
                        <button type="submit" class="btn btn-default" ng-click="confirm()" translate="ACCOUNT.RESET-PASSWORD.CONFIRM" ng-disabled="!model.password || !model.confirmPassword || model.password != model.confirmPassword || model.loading || passwordsInvalidMinLength()"></button>
                    </div>
                    <div class="pull-right loading" ng-show="model.loading && model.validToken">
                        <div class="l1"></div><div class="l2"></div><div class="l2"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>