<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Trade</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic,700|Playfair+Display:400,700,900' rel='stylesheet' type='text/css'> -->
    <link href="../dist/css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
      .news-list .box.box-img {
        background: #fafafa none repeat scroll 0 0;
        height: 18vw;  
      }
      
      .news-list .news .snippet {
        max-height: 38px;
        overflow: hidden;
      }
      
      .nav.nav-tabs {
        margin-bottom: 45px;
      }
      
    </style>
    
  </head>
  <body>
        
    <div class="main-content">
      <div class="page-header">
        <div class="container">
            <h2>News</h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="module mod-faq-lg">

              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">News</a></li>
                <li><a data-toggle="tab" href="#menu1">Circulars</a></li>
                <li><a data-toggle="tab" href="#menu2">Advocacies</a></li>
              </ul>
              
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <div class="">
                    <div class="">

                      <ul class="news-list row">
                        <li class="col-sm-4 news">
                          <div class="box box-img">
                            <a href="#">
                              <img src="../dist/img/news-img-wide.jpg" alt="" class="box-img">
                            </a>
                          </div>
                          <div class="details">
                            <a href="#">
                              <p class="date">February 10, 2016</p>
                              <h2 class="hd">118 Million Worth of Illegaly Imported Thai Rice Seized</h2>
                              <p class="snippet">Neque porro quisquam est, qui dolorem ipsum quia dolor sit incidunt</p>
                            </a>
                            <p class="share">
                              <a href="#"><i class="material-icons">share</i> Share</a>
                            </p>
                          </div>
                        </li>
                        <li class="col-sm-4 news">
                          <div class="box box-img">
                            <a href="#">
                              <img src="../dist/img/news-img-regular.jpg" alt="" class="box-img">
                            </a>
                          </div>
                          <div class="details">
                            <a href="#">
                              <p class="date">February 10, 2016</p>
                              <h2 class="hd">118 Million Worth of Illegaly Imported Thai Rice Seized</h2>
                              <p class="snippet">Neque porro quisquam est, qui dolorem ipsum quia dolor sit incidunt</p>
                            </a>
                            <p class="share">
                              <a href="#"><i class="material-icons">share</i> Share</a>
                            </p>
                          </div>
                        </li>
                        <li class="col-sm-4 news">
                          <div class="box box-img">
                            <a href="#">
                              <img src="../dist/img/news-img-regular.jpg" alt="" class="box-img">
                            </a>
                          </div>
                          <div class="details">
                            <a href="#">
                              <p class="date">February 10, 2016</p>
                              <h2 class="hd">118 Million Worth of Illegaly Imported Thai Rice Seized</h2>
                              <p class="snippet">Neque porro quisquam est, qui dolorem ipsum quia dolor sit incidunt</p>
                            </a>
                            <p class="share">
                              <a href="#"><i class="material-icons">share</i> Share</a>
                            </p>
                          </div>
                        </li>
                        <li class="col-sm-4 news">
                          <div class="box box-img">
                            <a href="#">
                              <img src="../dist/img/news-img-regular.jpg" alt="" class="box-img">
                            </a>
                          </div>
                          <div class="details">
                            <a href="#">
                              <p class="date">February 10, 2016</p>
                              <h2 class="hd">118 Million Worth of Illegaly Imported Thai Rice Seized</h2>
                              <p class="snippet">Neque porro quisquam est, qui dolorem ipsum quia dolor sit incidunt</p>
                            </a>
                            <p class="share">
                              <a href="#"><i class="material-icons">share</i> Share</a>
                            </p>
                          </div>
                        </li>
                      </ul>

                    </div>
                  </div>
                  
                  
                      <ul class="pagination hide">
                          <li>
                            <a aria-label="Previous" href="#">
                              <span aria-hidden="true"><i class="material-icons">keyboard_arrow_left</i></span>
                            </a>
                          </li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li>
                            <a aria-label="Next" href="#">
                              <span aria-hidden="true"><i class="material-icons">keyboard_arrow_right</i></span>
                            </a>
                          </li>
                      </ul>
                  
                </div>
                <div id="menu1" class="tab-pane fade">
                                    
                  <div class="module mod-announcements">
                    <div class="bd">

                      <ul class="announcements">

                        <li class="announcement">
                          <a href="#">
                            <h4 class="date">February 12, 2016</h4>
                            <h2 class="title">Notice to All Appointees to Rank and File Positions in the Bureau of Customs(BOC) as of February 11, 2016</h2>
                          </a>
                        </li>

                        <li class="announcement">
                          <a href="#">
                            <h4 class="date">February 12, 2016</h4>
                            <h2 class="title">Notice to All Appointees To Rank and File Positions in the Bureau of Customs (BOC) as of January 21, 2016</h2>
                          </a>
                        </li>

                        <li class="announcement">
                          <a href="#">
                            <h4 class="date">February 12, 2016</h4>
                            <h2 class="title">GOOD NEWS! All BOC Pending Appointments for Completion</h2>
                          </a>
                        </li>



                      </ul>

                    </div>
                  </div>


                </div>
                <div id="menu2" class="tab-pane fade">
                  <div class="">
                    <div class="">

                      <ul class="news-list row">
                        <li class="col-sm-4 news">
                          <div class="box box-img">
                            <a href="#">
                              <img src="../dist/img/news-img-wide.jpg" alt="" class="box-img">
                            </a>
                          </div>
                          <div class="details">
                            <a href="#">
                              <p class="date">February 10, 2016</p>
                              <h2 class="hd">118 Million Worth of Illegaly Imported Thai Rice Seized</h2>
                              <p class="snippet">Neque porro quisquam est, qui dolorem ipsum quia dolor sit incidunt</p>
                            </a>
                            <p class="share">
                              <a href="#"><i class="material-icons">share</i> Share</a>
                            </p>
                          </div>
                        </li>
                        <li class="col-sm-4 news">
                          <div class="box box-img">
                            <a href="#">
                              <img src="../dist/img/news-img-regular.jpg" alt="" class="box-img">
                            </a>
                          </div>
                          <div class="details">
                            <a href="#">
                              <p class="date">February 10, 2016</p>
                              <h2 class="hd">118 Million Worth of Illegaly Imported Thai Rice Seized</h2>
                              <p class="snippet">Neque porro quisquam est, qui dolorem ipsum quia dolor sit incidunt</p>
                            </a>
                            <p class="share">
                              <a href="#"><i class="material-icons">share</i> Share</a>
                            </p>
                          </div>
                        </li>
                        <li class="col-sm-4 news">
                          <div class="box box-img">
                            <a href="#">
                              <img src="../dist/img/news-img-regular.jpg" alt="" class="box-img">
                            </a>
                          </div>
                          <div class="details">
                            <a href="#">
                              <p class="date">February 10, 2016</p>
                              <h2 class="hd">118 Million Worth of Illegaly Imported Thai Rice Seized</h2>
                              <p class="snippet">Neque porro quisquam est, qui dolorem ipsum quia dolor sit incidunt</p>
                            </a>
                            <p class="share">
                              <a href="#"><i class="material-icons">share</i> Share</a>
                            </p>
                          </div>
                        </li>
                        <li class="col-sm-4 news">
                          <div class="box box-img">
                            <a href="#">
                              <img src="../dist/img/news-img-regular.jpg" alt="" class="box-img">
                            </a>
                          </div>
                          <div class="details">
                            <a href="#">
                              <p class="date">February 10, 2016</p>
                              <h2 class="hd">118 Million Worth of Illegaly Imported Thai Rice Seized</h2>
                              <p class="snippet">Neque porro quisquam est, qui dolorem ipsum quia dolor sit incidunt</p>
                            </a>
                            <p class="share">
                              <a href="#"><i class="material-icons">share</i> Share</a>
                            </p>
                          </div>
                        </li>
                      </ul>

                    </div>
                  </div>
                                       








                </div>
              </div>
              
            </div>
          </div>        
        </div>

        


      </div>
    </div>

    <script src="../dist/js/scripts.js"></script>
  </body>
</html>