.isv-btn-rules-list {
  margin: 6px 0;
  padding: 0.5rem .6rem;
}

.isv-admin-rules__title h3,
.isv-admin-rules__title h4 {
  font-weight: 300;
}

.help-text {
  display: block;
  margin-top: 5px;
  color: #737373;
  font-size: .75em;
}
