main, footer {
  padding-left: 0;

  @media (min-width: 872px) {
    padding-left: 240px;
  }
}
.isv-admin {
  position: relative;
  overflow: auto;
  min-height: 100vh;
}
.isv-btn-dashboard-list {
  margin: 0;
  padding: 0.5rem;
}
.isv-dashboard__title h3 {
  font-weight: 300;
}
